<div class="card formluario">

    <div class="card-header cabecera text-center">{{titulo}}</div>

    <div class="card-body bg-light">

        <!-- FORMULARIO -->
        <form autocomplete="off" (ngSubmit)="crearAlmacenFormulario()">

            <!-- NOMBRE -->
            <div class="form-group row">
                <label for="nombre" class="col-form-label font-weight-bold col-4 required">Nombre</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" [(ngModel)]="almacen.nombre" name="nombre">
                    <div *ngIf="erroresFormulario != null && erroresFormulario['nombre']">
                        <span class="error text-danger">{{erroresFormulario['nombre']}}</span>
                    </div>
                </div>
            </div>

            <!-- CODIGO -->
            <div class="form-group row">
                <label for="codigo" class="col-form-label font-weight-bold col-4 required">Código almacén</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" [(ngModel)]="almacen.codigo" name="codigo">
                    <div *ngIf="erroresFormulario != null && erroresFormulario['codigo']">
                        <span class="error text-danger">{{erroresFormulario['codigo']}}</span>
                    </div>
                </div>
            </div>

            <!-- CODIGO POSTAL -->
            <div class="form-group row">
                <label for="codigoPostal" class="col-form-label font-weight-bold col-4 required">Código postal</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" [(ngModel)]="almacen.codigoPostal" name="codigoPostal">
                    <div *ngIf="erroresFormulario != null && erroresFormulario['codigoPostal']">
                        <span class="error text-danger">{{erroresFormulario['codigoPostal']}}</span>
                    </div>
                </div>
            </div>

            <!-- DIRECCION -->
            <div class="form-group row">
                <label for="direccion" class="col-form-label font-weight-bold col-4 required">Dirección</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" [(ngModel)]="almacen.direccion" name="direccion">
                    <div *ngIf="erroresFormulario != null && erroresFormulario['direccion']">
                        <span class="error text-danger">{{erroresFormulario['direccion']}}</span>
                    </div>
                </div>
            </div>

            <!-- EDIFICIO -->
            <div class="form-group row">
                <label for="edificio" class="col-form-label font-weight-bold col-4">Edificio</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" [(ngModel)]="almacen.edificio" name="edificio">
                </div>
            </div>

            <!-- OBSERVACIONES -->
            <div class="form-group row">
                <label for="observaciones" class="col-form-label font-weight-bold col-4">Observaciones</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" [(ngModel)]="almacen.observaciones" name="observaciones">
                </div>
            </div>

            <!-- TELEFONO -->
            <div class="form-group row">
                <label for="telefono" class="col-form-label font-weight-bold col-4 required">Teléfono</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" [(ngModel)]="almacen.telefono" name="telefono">
                    <div *ngIf="erroresFormulario != null && erroresFormulario['telefono']">
                        <span class="error text-danger">{{erroresFormulario['telefono']}}</span>
                    </div>
                </div>
            </div>

            <!-- PAIS -->
            <div class="form-group row">
                <label for="pais" class="col-form-label font-weight-bold col-4 required">País</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" [(ngModel)]="almacen.pais" name="pais">
                    <div *ngIf="erroresFormulario != null && erroresFormulario['pais']">
                        <span class="error text-danger">{{erroresFormulario['pais']}}</span>
                    </div>
                </div>
            </div>

            <!-- REGION -->
            <div class="form-group row">
                <label for="region" class="col-form-label font-weight-bold col-4 required">Región</label>
                <div class="col-sm-7">
                    <p>
                        <select name="region" title="" [(ngModel)]="almacen.region">
                            <option disabled="true" selected >Selecciona región</option> 
                            <option [value]="region" *ngFor="let region of regiones">{{region}}</option> 
                        </select>
                    </p>
                    <div *ngIf="erroresFormulario != null && erroresFormulario['region']">
                        <span class="error text-danger">{{erroresFormulario['region']}}</span>
                    </div>
                </div>
            </div>

            <!-- PROVINCIA -->
            <div class="form-group row">
                <label for="provincia" class="col-form-label font-weight-bold col-4 required">Provincia</label>
                <div class="col-sm-7">
                    <p>
                        <select name="provincia" title="" [(ngModel)]="almacen.provincia">
                            <option disabled="true"  selected >Selecciona provincia</option> 
                            <option [value]="provincia" *ngFor="let provincia of provincias">{{provincia}}</option> 
                        </select>
                    </p>
                    <div *ngIf="erroresFormulario != null && erroresFormulario['provincia']">
                        <span class="error text-danger">{{erroresFormulario['provincia']}}</span>
                    </div>
                </div>
            </div>

            <!-- POBLACION -->
            <div class="form-group row">
                <label for="poblacion" class="col-form-label font-weight-bold col-4 required">Población</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" [(ngModel)]="almacen.poblacion" name="poblacion">
                    <div *ngIf="erroresFormulario != null && erroresFormulario['poblacion']">
                        <span class="error text-danger">{{erroresFormulario['poblacion']}}</span>
                    </div>
                </div>
            </div>

            <!-- BOTON -->
            <div class="form-group row text-center">
                <div class="col-sm-12">
                    <br/>
                    <button class="btn btn-primary" role="button">{{botonTitulo}}</button>
                </div>
            </div>

        </form>
    </div>
</div>