/* Estilos Globales */

html,
body {
    height: 100%;
    width: 100%;
}

.jumbotron {
    background-color: #f6f6f6 !important;
}

.saltoLinea {
    Word-spacing: 100vw;
}

.ocultar {
    display: none;
}


/*.home {
    margin-top: 50px;
    border: black solid 1px;
}*/

footer {
    color: black;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 30px;
}


/* COLORES BOTONES */

.fc-dayGridMonth-button,
.fc-timeGridWeek-button,
.fc-timeGridDay-button,
.fc-listWeek-button {
    background-color: #ffcc80 !important;
    border-color: #ffcc80 !important;
    color: black !important;
    font-size: 17px !important;
    font-weight: bold !important;
    /* #a7c3fb */
}

.fc-prevYear-button,
.fc-prev-button,
.fc-next-button,
.fc-nextYear-button {
    background-color: #ffcc80 !important;
    border-color: #ffcc80 !important;
    color: black !important;
    font-size: 17px !important;
}

.fc-today-button {
    background-color: #0099ff !important;
    border-color: #0099ff !important;
    color: black !important;
    font-size: 18px !important;
}

.fc-btnCrearEventoButton-button {
    background-color: #e6e6e6 !important;
    border-color: #e6e6e6 !important;
    color: black !important;
    font-size: 18px !important;
}

.fc-button-group {
    background-color: black !important;
    border-color: none !important;
}


/* COLOR FILAS TABLA AGENDA*/

.fc-list-day,
.fc-list-day-cushion {
    background-color: #ffcc80 !important;
}


/* COLOR ESTRELLA FORMULARIO*/

.required:after {
    color: #e04141;
    content: "*";
    font-size: 12px;
    margin-left: 4px;
    font-weight: bolder;
}


/* Cabecera */

.ui-jqgrid.ui-jqgrid-bootstrap .ui-jqgrid-hdiv {
    background-color: #e4e4e4 !important;
}


/* Pies */

.ui-jqgrid-bootstrap.ui-jqgrid .ui-jqgrid-toppager,
.ui-jqgrid-bootstrap.ui-jqgrid .ui-jqgrid-pager {
    background-color: #e4e4e4 !important;
}


/* Botones del paginador*/

.table>thead>tr>td.active,
.table>tbody>tr>td.active,
.table>thead>tr>th.active,
.ui-pg-table .ui-pg-button.active,
.ui-jqgrid-actions .ui-pg-div.active {
    background-color: #e4e4e4 !important;
}

.ui-pg-table .ui-pg-button.active,
.ui-jqgrid-actions .ui-pg-div.active {
    border-radius: .4em;
}

.ui-jqgrid-btable tr.jqgrow.success,
.ui-jqgrid-btable tr.jqgrow.success>td {
    background-color: #e4e4e4 !important;
}


/* señalar */

.ui-jqgrid-btable tr.jqgrow.active,
.ui-jqgrid-btable tr.jqgrow.active>td .ui-jqgrid-btable>tbody>tr.jqgrow.active>td:hover,
.ui-jqgrid-btable.table-hover>tbody>tr.jqgrow.active:hover>td,
.ui-jqgrid-btable.table-hover>tbody>tr.jqgrow:hover>.active,
.ui-jqgrid-btable.table-hover>tbody>tr.jqgrow.active:hover>th {
    background-color: #ffda9e !important;
}


/* CARDS*/

.card-header {
    background-color: #099dff !important;
}

.card-footer {
    background-color: #e4e4e4 !important;
}

.barra-navegacion {
    background-color: #099dff !important;
}

.ui-autocomplete {
    max-height: 100px !important;
    overflow-y: auto !important;
    /* prevent horizontal scrollbar */
    overflow-x: auto !important;
    /* add padding to account for vertical scrollbar */
    padding-right: 20px !important;
}


/** #37afff */