<div class="card text-center">

    <div class="card-header text-center">
        <h5 class="card-title">Proveedor</h5>
    </div>

    <div class="card-body">

        <!-- Fila 1-->
        <h6 class="card-subtitle mb-2 text-muted text-left">Datos del proveedor</h6>
        <div class="form-group row text-left">
            <!-- CODIGO PROVEEDOR -->
            <dl class="col" *ngIf="proveedor.codigo">
                <dt>Código proveedor</dt>
                <dd>{{proveedor.codigo}}</dd>
            </dl>
            <!-- NOMBRE -->
            <dl class="col" *ngIf="proveedor.nombre">
                <dt>Nombre proveedor</dt>
                <dd>{{proveedor.nombre}}</dd>
            </dl>
            <!-- NOMBRE EMPRESA -->
            <dl class="col" *ngIf="proveedor.nombreEmpresa">
                <dt>Nombre empresa</dt>
                <dd>{{proveedor.nombreEmpresa}}</dd>
            </dl>
            <!-- TELEFONO -->
            <dl class="col" *ngIf="proveedor.telefono">
                <dt>Teléfono</dt>
                <dd>{{proveedor.telefono}}</dd>
            </dl>
            <!-- TIPO PROVEEDOR -->
            <dl class="col" *ngIf="proveedor.tipoProveedor">
                <dt>Tipo proveedor</dt>
                <dd>{{proveedor.tipoProveedor}}</dd>
            </dl>
        </div>
    </div>

    <div class="card-footer text-muted">
        <div class="row">
            <div class="col-6 text-left">
                <button type="button" class="btn btn-primary" (click)="editarProveedor(proveedor.id)">Editar</button> &nbsp;
                <button type="button" class="btn btn-danger" (click)="borrarProveedor(proveedor.id)">Borrar</button>
            </div>
        </div>
    </div>

</div>