<div class="card text-center">
    <div class="card-header">
    </div>
    <div class="card-body">

        <h5 class="card-title">Proveedor</h5>

        <!-- NOMBRE -->
        <div class="form-group row">
            <label for="nombre" class="col-form-label col-sm-2">Nombre proveedor</label>
            <span *ngIf="proveedor.nombre">{{proveedor.nombre}}</span>
        </div>

        <!-- CODIGO PROVEEDOR -->
        <div class="form-group row">
            <label for="codigo" class="col-form-label col-sm-2">Código proveedor</label>
            <span *ngIf="proveedor.codigo">{{proveedor.codigo}}</span>
        </div>

        <!-- NOMBRE EMPRESA -->
        <div class="form-group row">
            <label for="nombreEmpresa" class="col-form-label col-sm-2">Nombre empresa</label>
            <span *ngIf="proveedor.nombreEmpresa">{{proveedor.nombreEmpresa}}</span>
        </div>

        <!-- TELEFONO -->
        <div class="form-group row">
            <label for="telefono" class="col-form-label col-sm-2">Teléfono</label>
            <span *ngIf="proveedor.telefono">{{proveedor.telefono}}</span>
        </div>

        <!-- TIPO PROVEEDOR -->
        <div class="form-group row">
            <label for="tipoProveedor" class="col-form-label col-sm-2">Tipo proveedor</label>
            <span *ngIf="proveedor.tipoProveedor">{{proveedor.tipoProveedor}}</span>
        </div>

    </div>

    <div class="card-footer text-muted">
        <a href="#" class="btn btn-primary">Editar</a>
        <a href="#" class="btn btn-primary">Borrar</a>
    </div>
</div>