<div class="card bg-dark text-light">

    <div class="card-header">Nuevo venta</div>

    <div class="card-body">

        <!-- FORMULARIO -->
        <form autocomplete="off" (ngSubmit)="crearVentaFormulario()">

            <!-- CODIGO CLIENTE -->
            <div class="form-group row">
                <label for="codigo" class="col-form-label col-sm-2">Código venta</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="venta.codigo" name="codigo">
                </div>
            </div>

            <!-- FECHA CREACION -->
            <div class="form-group row">
                <label for="fechaCreacion" class="col-form-label col-sm-2">Fecha creación</label>
                <div class="col-sm-6">
                    <input type="text" id="fechaVentaDatePickerCreacion" class="form-control" [(ngModel)]="venta.fechaCreacion" name="fechaCreacion">
                </div>
            </div>

            <!-- FECHA INICIO -->
            <div class="form-group row">
                <label for="fechaInicio" class="col-form-label col-sm-2">Fecha inicio</label>
                <div class="col-sm-6">
                    <input type="text" id="fechaVentaDatePickerInicio" class="form-control" [(ngModel)]="venta.fechaInicio" name="fechaInicio">
                </div>
            </div>

            <!-- FECHA FIN -->
            <div class="form-group row">
                <label for="fechaFin" class="col-form-label col-sm-2">Fecha fín</label>
                <div class="col-sm-6">
                    <input type="text" id="fechaVentaDatePickerFin" class="form-control" [(ngModel)]="venta.fechaFin" name="fechaFin">
                </div>
            </div>

            <!-- DESCRIPCION -->
            <div class="form-group row">
                <label for="descripcion" class="col-form-label col-sm-2">Descripción</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="venta.descripcion" name="descripcion">
                </div>
            </div>

            <!-- BASE IMPONIBLE -->
            <div class="form-group row">
                <label for="baseImponibleTotal" class="col-form-label col-sm-2">Base imponible</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="venta.baseImponibleTotal" name="baseImponibleTotal">
                </div>
            </div>

            <!-- IMPORTE TOTAL -->
            <div class="form-group row">
                <label for="importeTotal" class="col-form-label col-sm-2">Importe total</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="venta.importeTotal" name="importeTotal">
                </div>
            </div>

            <!-- BOTON -->
            <div class="form-group row">
                <div class="col-sm-6">
                    <button class="btn btn-primary" role="button">Crear venta</button>
                </div>
            </div>

        </form>
    </div>
</div>