<div class="card formluario">

    <div class="card-header cabecera text-center">{{titulo}}</div>

    <div class="card-body bg-light">

        <!-- FORMULARIO -->
        <form autocomplete="off" (ngSubmit)="crearPedidoFormulario()">

            <div class="row">
                <!-- CODIGO -->
                <div class="col-5">
                    <label for="codigo" class="col-form-label font-weight-bold col-12 text-left required">Código pedido</label>
                    <div class="col-12">
                        <input type="text" class="form-control" [(ngModel)]="pedido.codigo" name="codigo">
                        <div *ngIf="erroresFormulario != null && erroresFormulario['codigo']">
                            <span class="error text-danger">{{erroresFormulario['codigo']}}</span>
                        </div>
                    </div>
                </div>
                <!-- FECHA PEDIDO -->
                <div class="col-5">
                    <label for="fechaPedido" class="col-form-label font-weight-bold col-12 text-left required">Fecha pedido</label>
                    <div class="col-12">
                        <!--<input type="date" class="form-control" [ngModel]="pedido.fechaPedido | date:'yyyy-MM-dd'" (ngModelChange)="pedido.fechaPedido = $event" name="fechaPedido">-->
                        <input type="text" id="fechaPedidoDatePicker" class="form-control" name="fechaPedido" [ngModel]="pedido.fechaPedido | date:'dd-MM-yyyy'" />
                        <div *ngIf="erroresFormulario != null && erroresFormulario['fechaPedido']">
                            <span class="error text-danger">{{erroresFormulario['fechaPedido']}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <br/>

            <!-- TABLA DE ARTICULOS -->
            <div class="form-group row">
                <div class="col-12 text-left">
                    <h4>Artículos</h4>
                </div>
                <div class="col-12">
                    <table id="tablaArticulos" class="table table-striped table-bordered">
                        <thead class="bg-blue">
                            <tr>
                                <th class="ocultar">Id</th>
                                <th>Codigo</th>
                                <th>Articulo</th>
                                <th>Precio</th>
                                <th>Impuesto</th>
                                <th>Importe (Con Imp.)</th>
                                <th>Cantidad</th>
                                <th>Total</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="pedido != null && pedido.lineaPedido != null">
                            <tr scope="row" id="linea_art_id_{{linea.id}}" *ngFor="let linea of pedido.lineaPedido; let i = index">
                                <td>{{linea.articuloDto.codigo}}</td>
                                <td>{{linea.articuloDto.nombre}}</td>
                                <td>{{linea.articuloDto.baseImponible | currency:'EUR':true }}</td>
                                <td>{{this.mapaIva.get(linea.articuloDto.impuesto)}}</td>
                                <td>{{linea.articuloDto.importeTotal | currency:'EUR':true}}</td>
                                <td>{{linea.cantidad}}</td>
                                <td>{{linea.importeTotal | currency:'EUR':true}}</td>
                                <td class="text-center">
                                    <button type="button" class="btn btn-danger" (click)="destruirLineaArticulo(linea.id)">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- BOTON AÑADIR -->
                <div class="col-sm-12 text-right">
                    <br/>
                    <p class="btn btn-primary" (click)="modalAnadirArticulo()" role="button">Añadir artículo</p>
                </div>
            </div>

            <!-- BOTON -->
            <div class="form-group row text-center">
                <div class="col-sm-12">
                    <br/>
                    <button class="btn btn-primary" role="button">{{botonTitulo}}</button>
                </div>
            </div>

        </form>
    </div>
</div>
<app-modal-articulo #modalArticulo></app-modal-articulo>