<div class="card text-center">
    <div class="card-header">
    </div>
    <div class="card-body">
        <h5 class="card-title">Empresa</h5>
        <!-- NOMBRE -->
        <div class="form-group row">
            <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
            <span *ngIf="empresa.nombre">{{empresa.nombre}}</span>
        </div>

        <!-- CODIGO EMPRESA -->
        <div class="form-group row">
            <label for="codigo" class="col-form-label col-sm-2">Código empresa</label>
            <span *ngIf="empresa.codigo">{{empresa.codigo}}</span>
        </div>

        <!-- CIF -->
        <div class="form-group row">
            <label for="apellidoPrimero" class="col-form-label col-sm-2">CIF</label>
            <span *ngIf="empresa.cif">{{empresa.cif}}</span>
        </div>

        <!-- IDIOMA -->
        <div class="form-group row">
            <label for="idioma" class="col-form-label col-sm-2">Idioma</label>
            <span *ngIf="empresa.idioma">{{empresa.idioma}}</span>
        </div>

        <!-- TIPO SOCIEDAD JURIDICA -->
        <div class="form-group row">
            <label for="tipoSociedadJuridica" class="col-form-label col-sm-2">Tipo de sociedad jurídica</label>
            <span *ngIf="empresa.tipoSociedadJuridica">{{empresa.tipoSociedadJuridica}}</span>
        </div>

    </div>

    <div class="card-footer text-muted">
        <a href="#" class="btn btn-primary">Editar</a>
        <a href="#" class="btn btn-primary">Borrar</a>
    </div>
</div>