<div class="card text-center">

    <div class="card-header text-center">
        <h5 class="card-title">Empresa</h5>
    </div>

    <div class="card-body">

        <!-- Fila 1-->
        <h6 class="card-subtitle mb-2 text-muted text-left">Datos comunes</h6>
        <div class="form-group row text-left">
            <!-- CODIGO EMPRESA -->
            <dl class="col" *ngIf="empresa.codigo">
                <dt>Código empresa</dt>
                <dd>{{empresa.codigo}}</dd>
            </dl>
            <!-- NOMBRE -->
            <dl class="col" *ngIf="empresa.nombre">
                <dt>Nombre</dt>
                <dd>{{empresa.nombre}}</dd>
            </dl>
            <!-- CIF -->
            <dl class="col" *ngIf="empresa.cif">
                <dt>CIF</dt>
                <dd>{{empresa.cif}}</dd>
            </dl>
            <!-- TIPO SOCIEDAD JURIDICA -->
            <dl class="col" *ngIf="empresa.tipoSociedadJuridica">
                <dt>Tipo de sociedad jurídica</dt>
                <dd>{{empresa.tipoSociedadJuridica}}</dd>
            </dl>
        </div>

    </div>

    <div class="card-footer text-muted">
        <div class="row">
            <div class="col-6 text-left">
                <button type="button" class="btn btn-primary" (click)="editarEmpresa(empresa.id)">Editar</button> &nbsp;
                <button type="button" class="btn btn-danger" (click)="borrarEmpresa(empresa.id)">Borrar</button>
            </div>
        </div>
    </div>
</div>