<nav class="navbar navbar-expand-lg navbar-dark bg-primary bg-faded">

    <div class="row">

        <div class="col-xs-6">


        </div>

        <div class="col-xs-6 collapse navbar-collapse pull-right" id="navbarSupportedContent-4">
            <ul class="navbar-nav mr-auto">
                <!-- Sesion -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user pull-rigth"></i> Perfil </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
                        <a class="dropdown-item" href="#">Mi cuenta</a>
                        <a class="dropdown-item" href="#">Salir</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</nav>