<div class="card bg-dark text-light">

    <div class="card-header">Nuevo vehículo</div>

    <div class="card-body">

        <!-- FORMULARIO -->
        <form autocomplete="off" (ngSubmit)="crearVehiculoFormulario()">

            <!-- CODIGO CLIENTE -->
            <div class="form-group row">
                <label for="codigo" class="col-form-label col-sm-2">Código vehículo</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="vehiculo.codigo" name="codigo">
                </div>
            </div>

            <!-- MATRICULA -->
            <div class="form-group row">
                <label for="matricula" class="col-form-label col-sm-2">Matrícula</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="vehiculo.matricula" name="matricula">
                </div>
            </div>

            <!-- MARCA -->
            <div class="form-group row">
                <label for="marca" class="col-form-label col-sm-2">Marca</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="vehiculo.marca" name="marca">
                </div>
            </div>

            <!-- MODELO -->
            <div class="form-group row">
                <label for="modelo" class="col-form-label col-sm-2">Modelo</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="vehiculo.modelo" name="modelo">
                </div>
            </div>

            <!-- FECHA METRICULACION -->
            <div class="form-group row">
                <label for="fechaMatriculacion" class="col-form-label col-sm-2">Fecha matriculación</label>
                <div class="col-sm-6">
                    <input type="date" class="form-control" [ngModel]="vehiculo.fechaMatriculacion | date:'yyyy-MM-dd'" (ngModelChange)="vehiculo.fechaMatriculacion = $event" name="fechaMatriculacion">
                </div>
            </div>

            <!-- TIPO VEHICULO -->
            <div class="form-group row">
                <label for="tipoVehiculo" class="col-form-label col-sm-2">Tipo de vehículo</label>
                <div class="col-sm-6">
                    <p>
                        <select name="tipoVehiculo" title="" [(ngModel)]="vehiculo.tipoVehiculo">
                            <option disabled="true"  selected >Selecciona tipo vehículo</option> 
                            <option [value]="tipo" *ngFor="let tipo of tiposVehiculos">{{tipo}}</option> 
                        </select>
                    </p>
                </div>
            </div>

            <!-- TIPO COMBUSTIBLE -->
            <div class="form-group row">
                <label for="tipoVehiculo" class="col-form-label col-sm-2">Tipo de combustible</label>
                <div class="col-sm-6">
                    <p>
                        <select name="tipoCombustible" title="" [(ngModel)]="vehiculo.tipoCombustible">
                            <option disabled="true"  selected >Selecciona tipo combustible</option> 
                            <option [value]="tipo" *ngFor="let tipo of tiposCombustible">{{tipo}}</option> 
                        </select>
                    </p>
                </div>
            </div>

            <!-- BOTON -->
            <div class="form-group row">
                <div class="col-sm-6">
                    <button class="btn btn-primary" role="button">Crear vehículo</button>
                </div>
            </div>

        </form>
    </div>
</div>