<div class="card text-center">
    <div class="card-header">
        <h5 class="card-title">Venta</h5>
    </div>
    <div class="card-body">

        <!-- Fila 1-->
        <h6 class="card-subtitle mb-2 text-muted text-left">Datos comunes</h6>
        <div class="form-group row text-left">
            <!-- CODIGO CONTRATO -->
            <dl class="col-3" *ngIf="venta.codigo">
                <dt>Código contrato</dt>
                <dd>{{venta.codigo}}</dd>
            </dl>
            <!-- FECHA INICIO -->
            <dl class="col-3" *ngIf="venta.fechaFin">
                <dt>Fecha fín</dt>
                <dd>{{venta.fechaFin | date}}</dd>
            </dl>
            <!-- FECHA FIN -->
            <dl class="col-3" *ngIf="venta.fechaFin">
                <dt>Fecha fín</dt>
                <dd>{{venta.fechaFin | date}}</dd>
            </dl>
            <!-- FECHA CREACION -->
            <dl class="col-3" *ngIf="venta.fechaCreacion">
                <dt>Fecha creación</dt>
                <dd>{{venta.fechaCreacion | date}}</dd>
            </dl>
        </div>

        <!-- Fila 2-->
        <div class="form-group row text-left">
            <!-- BASE IMPONIBLE -->
            <dl class="col" *ngIf="venta.baseImponibleTotal">
                <dt>Base imponible</dt>
                <dd>{{venta.baseImponibleTotal}}</dd>
            </dl>
            <!-- IMPUESTO-->
            <dl class="col" *ngIf="venta.impuesto">
                <dt>Impuesto</dt>
                <dd>{{venta.impuesto}}</dd>
            </dl>
            <!-- IMPORTE TOTAL -->
            <dl class="col" *ngIf="venta.importeTotal">
                <dt>Importe total</dt>
                <dd>{{venta.importeTotal}}</dd>
            </dl>
            <!-- DESCRIPCION -->
            <dl class="col" *ngIf="venta.descripcion">
                <dt>Descripción</dt>
                <dd>{{venta.descripcion}}</dd>
            </dl>
        </div>

    </div>

    <div class="card-footer text-muted">
        <div class="row">
            <div class="col-6 text-left">
                <button type="button" class="btn btn-primary" (click)="editarVenta(venta.id)">Editar</button> &nbsp;
                <button type="button" class="btn btn-danger" (click)="borrarVenta(venta.id)">Borrar</button>
            </div>
        </div>
    </div>
</div>