<div class="card text-center">

    <div class="card-header">
        <h5 class="card-title">Venta</h5>
    </div>

    <div class="card-body">

        <!-- Fila 1-->
        <h6 class="card-subtitle mb-2 text-muted text-left">Datos comunes</h6>
        <div class="form-group row text-left">
            <!-- CODIGO CONTRATO -->
            <dl class="col-3" *ngIf="venta.codigo">
                <dt>Código venta</dt>
                <dd>{{venta.codigo}}</dd>
            </dl>
            <!-- FECHA INICIO -->
            <dl class="col-3" *ngIf="venta.fechaFin">
                <dt>Fecha fín</dt>
                <dd>{{venta.fechaFin | date}}</dd>
            </dl>
            <!-- FECHA FIN -->
            <dl class="col-3" *ngIf="venta.fechaFin">
                <dt>Fecha fín</dt>
                <dd>{{venta.fechaFin | date}}</dd>
            </dl>
            <!-- FECHA CREACION -->
            <dl class="col-3" *ngIf="venta.fechaCreacion">
                <dt>Fecha creación</dt>
                <dd>{{venta.fechaCreacion | date}}</dd>
            </dl>
        </div>

        <!-- Fila 2-->
        <h6 class="card-subtitle mb-2 text-muted text-left">Artículos</h6>
        <div class="form-group row text-left">
            <div class="col-12 table-responsive">
                <table id="tablaArticulos" class="table table-striped table-bordered">
                    <thead class="bg-blue">
                        <tr>
                            <th class="ocultar">Id</th>
                            <th>Codigo</th>
                            <th>Artículo</th>
                            <th>Precio</th>
                            <th>Impuesto</th>
                            <th>Importe (Con Imp.)</th>
                            <th>Cantidad</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="venta != null && venta.lineaVenta != null">
                        <tr scope="row" id="linea_art_id_{{linea.id}}" *ngFor="let linea of venta.lineaVenta; let i = index">
                            <td>{{linea.articuloDto.codigo}}</td>
                            <td>{{linea.articuloDto.nombre}}</td>
                            <td>{{linea.articuloDto.baseImponible | currency:'EUR':true }}</td>
                            <td>{{this.mapaIva.get(linea.articuloDto.impuesto)}}</td>
                            <td>{{linea.articuloDto.importeTotal | currency:'EUR':true}}</td>
                            <td>{{linea.cantidad}}</td>
                            <td>{{linea.importeTotal | currency:'EUR':true}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Fila 3-->
        <div class="form-group row text-left">
            <!-- BASE IMPONIBLE -->
            <dl class="col-3" *ngIf="venta.baseImponibleTotal">
                <dt>Base imponible</dt>
                <dd>{{venta.baseImponibleTotal | currency:'EUR':true}}</dd>
            </dl>
            <!-- IMPORTE TOTAL -->
            <dl class="col-3" *ngIf="venta.importeTotal">
                <dt>Importe total</dt>
                <dd>{{venta.importeTotal | currency:'EUR':true}}</dd>
            </dl>
            <!-- DESCRIPCION -->
            <dl class="col-6" *ngIf="venta.descripcion">
                <dt>Descripción</dt>
                <dd>{{venta.descripcion}}</dd>
            </dl>
        </div>

    </div>

    <div class="card-footer text-muted">
        <div class="row">
            <div class="col-6 text-left">
                <button type="button" class="btn btn-primary" (click)="editarVenta(venta.id)">Editar</button> &nbsp;
                <button type="button" class="btn btn-danger" (click)="borrarVenta(venta.id)">Borrar</button>
            </div>
        </div>
    </div>
</div>