<div class="card text-center formluario">
    <div class="card-header text-center cabecera">
        <h5 class="card-title">Pedido</h5>
    </div>

    <div class="card-body">

        <!-- Fila 1-->
        <h6 class="card-subtitle mb-2 text-muted text-left">Datos pedido</h6>
        <div class="form-group row text-left">
            <!-- CODIGO pedido -->
            <dl class="col-3" *ngIf="pedido.codigo">
                <dt>Código pedido</dt>
                <dd>{{pedido.codigo}}</dd>
            </dl>
            <!-- FECHA pedido -->
            <dl class="col-9" *ngIf="pedido.fechaPedido">
                <dt>Fecha pedido</dt>
                <dd>{{pedido.fechaPedido | date: 'd/MM/yyyy'}}</dd>
            </dl>
        </div>

        <!-- Fila 2-->
        <h6 class="card-subtitle mb-2 text-muted text-left">Artículos</h6>
        <div class="form-group row text-left">
            <div class="col-12 table-responsive">
                <table id="tablaArticulos" class="table table-striped table-bordered">
                    <thead class="bg-blue">
                        <tr>
                            <th class="ocultar">Id</th>
                            <th>Codigo</th>
                            <th>Artículo</th>
                            <th>Precio</th>
                            <th>Impuesto</th>
                            <th>Importe (Con Imp.)</th>
                            <th>Cantidad</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="pedido != null && pedido.lineaPedido != null">
                        <tr scope="row" id="linea_art_id_{{linea.id}}" *ngFor="let linea of pedido.lineaPedido; let i = index">
                            <td>{{linea.articuloDto.codigo}}</td>
                            <td>{{linea.articuloDto.nombre}}</td>
                            <td>{{linea.articuloDto.baseImponible | currency:'EUR':true }}</td>
                            <td>{{this.mapaIva.get(linea.articuloDto.impuesto)}}</td>
                            <td>{{linea.articuloDto.importeTotal | currency:'EUR':true}}</td>
                            <td>{{linea.cantidad}}</td>
                            <td>{{linea.importeTotal | currency:'EUR':true}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Fila 3-->
        <h6 class="card-subtitle mb-2 text-muted text-left">Costes</h6>
        <div class="form-group row text-left">
            <!-- BASE IMPONIBLE -->
            <dl class="col-3" *ngIf="pedido.baseImponibleTotal">
                <dt>Base imponible</dt>
                <dd>{{pedido.baseImponibleTotal | currency:'EUR':true}}</dd>
            </dl>
            <!-- IMPORTE TOTAL -->
            <dl class="col-6" *ngIf="pedido.importeTotal">
                <dt>Importe total</dt>
                <dd>{{pedido.importeTotal | currency:'EUR':true}}</dd>
            </dl>
        </div>
    </div>
    <div class="card-footer text-muted">
        <div class="row">
            <div class="col-6 text-left">
                <button type="button" class="btn btn-primary" (click)="editarPedido(pedido.id)">Editar</button> &nbsp;
                <button type="button" class="btn btn-danger" (click)="borrarPedido(pedido.id)">Borrar</button> &nbsp;
                <button type="button" class="btn btn-warning" (click)="convertirPedidoCompra(pedido.id)">Convertir a compra</button>
            </div>
        </div>
    </div>
</div>