<div class="card text-center">
    <div class="card-header text-center">
        <h5 class="card-title">Pedido</h5>
    </div>

    <div class="card-body">

        <!-- Fila 1-->
        <h6 class="card-subtitle mb-2 text-muted text-left">Datos pedido</h6>
        <div class="form-group row text-left">
            <!-- CODIGO pedido -->
            <dl class="col-3" *ngIf="pedido.codigo">
                <dt>Código pedido</dt>
                <dd>{{pedido.codigo}}</dd>
            </dl>
            <!-- FECHA pedido -->
            <dl class="col-9" *ngIf="pedido.fechaPedido">
                <dt>Fecha pedido</dt>
                <dd>{{pedido.fechaPedido | date: 'd/MM/yyyy'}}</dd>
            </dl>
            <!-- ARTICULO -->
            <dl class="col-3" *ngIf="pedido.articulo">
                <dt>Artículo</dt>
                <dd>{{pedido.articulo}}</dd>
            </dl>
            <!-- CANTIDAD -->
            <dl class="col-9" *ngIf="pedido.cantidad">
                <dt>cantidad</dt>
                <dd>{{pedido.cantidad}}</dd>
            </dl>
        </div>

        <!-- Fila 2-->
        <h6 class="card-subtitle mb-2 text-muted text-left">Costes</h6>
        <div class="form-group row text-left">
            <!-- BASE IMPONIBLE -->
            <dl class="col-3" *ngIf="pedido.baseImponibleTotal">
                <dt>Base imponible</dt>
                <dd>{{pedido.baseImponibleTotal}}</dd>
            </dl>
            <!-- IMPUESTO -->
            <dl class="col-3" *ngIf="pedido.impuesto">
                <dt>Impuesto</dt>
                <dd>{{pedido.impuesto}}</dd>
            </dl>
            <!-- IMPORTE TOTAL -->
            <dl class="col-6" *ngIf="pedido.importeTotal">
                <dt>Importe total</dt>
                <dd>{{pedido.importeTotal}}</dd>
            </dl>
        </div>


        <div class="card-footer text-muted">
            <div class="row">
                <div class="col-6 text-left">
                    <button type="button" class="btn btn-primary" (click)="editarPedido(pedido.id)">Editar</button> &nbsp;
                    <button type="button" class="btn btn-danger" (click)="borrarPedido(pedido.id)">Borrar</button>
                </div>
            </div>
        </div>
    </div>