<div class="card text-center">
    <div class="card-header">
    </div>
    <div class="card-body">

        <h5 class="card-title">Contrato</h5>

        <!-- CODIGO CONTRATO -->
        <div class="form-group row">
            <label for="codigo" class="col-form-label col-sm-2">Código contrato</label>
            <span *ngIf="contrato.codigo">{{contrato.codigo}}</span>
        </div>

        <!-- FECHA CREACION -->
        <div class="form-group row">
            <label for="fechaCreacion" class="col-form-label col-sm-2">Fecha creación</label>
            <span *ngIf="contrato.fechaCreacion">{{contrato.fechaCreacion | date}}</span>
        </div>

        <!-- FECHA INICIO -->
        <div class="form-group row">
            <label for="fechaInicio" class="col-form-label col-sm-2">Fecha inicio</label>
            <span *ngIf="contrato.fechaInicio">{{contrato.fechaInicio | date}}</span>
        </div>

        <!-- FECHA FIN -->
        <div class="form-group row">
            <label for="fechaFin" class="col-form-label col-sm-2">Fecha fín</label>
            <span *ngIf="contrato.fechaFin">{{contrato.fechaFin | date}}</span>
        </div>

        <!-- DESCRIPCION -->
        <div class="form-group row">
            <label for="descripcion" class="col-form-label col-sm-2">Descripción</label>
            <span *ngIf="contrato.descripcion">{{contrato.descripcion}}</span>
        </div>

        <!-- BASE IMPONIBLE -->
        <div class="form-group row">
            <label for="baseImponibleTotal" class="col-form-label col-sm-2">Base imponible</label>
            <span *ngIf="contrato.baseImponibleTotal">{{contrato.baseImponibleTotal}}</span>
        </div>

        <!-- IMPORTE TOTAL -->
        <div class="form-group row">
            <label for="importeTotal" class="col-form-label col-sm-2">Importe total</label>
            <span *ngIf="contrato.importeTotal">{{contrato.importeTotal}}</span>
        </div>

    </div>

    <div class="card-footer text-muted">
        <a href="#" class="btn btn-primary">Editar</a>
        <a href="#" class="btn btn-primary">Borrar</a>
    </div>
</div>