<div class="card text-center">
    <div class="card-header">
        <h5 class="card-title">Contrato</h5>
    </div>
    <div class="card-body">

        <!-- Fila 1-->
        <h6 class="card-subtitle mb-2 text-muted text-left">Datos comunes</h6>
        <div class="form-group row text-left">
            <!-- CODIGO CONTRATO -->
            <dl class="col-3" *ngIf="contrato.codigo">
                <dt>Código contrato</dt>
                <dd>{{contrato.codigo}}</dd>
            </dl>
            <!-- FECHA INICIO -->
            <dl class="col-3" *ngIf="contrato.fechaFin">
                <dt>Fecha fín</dt>
                <dd>{{contrato.fechaFin | date}}</dd>
            </dl>
            <!-- FECHA FIN -->
            <dl class="col-3" *ngIf="contrato.fechaFin">
                <dt>Fecha fín</dt>
                <dd>{{contrato.fechaFin | date}}</dd>
            </dl>
            <!-- FECHA CREACION -->
            <dl class="col-3" *ngIf="contrato.fechaCreacion">
                <dt>Fecha creación</dt>
                <dd>{{contrato.fechaCreacion | date}}</dd>
            </dl>
        </div>

        <!-- Fila 2-->
        <div class="form-group row text-left">
            <!-- BASE IMPONIBLE -->
            <dl class="col" *ngIf="contrato.baseImponibleTotal">
                <dt>Base imponible</dt>
                <dd>{{contrato.baseImponibleTotal}}</dd>
            </dl>
            <!-- IMPUESTO-->
            <dl class="col" *ngIf="contrato.impuesto">
                <dt>Impuesto</dt>
                <dd>{{contrato.impuesto}}</dd>
            </dl>
            <!-- IMPORTE TOTAL -->
            <dl class="col" *ngIf="contrato.importeTotal">
                <dt>Importe total</dt>
                <dd>{{contrato.importeTotal}}</dd>
            </dl>
            <!-- DESCRIPCION -->
            <dl class="col" *ngIf="contrato.descripcion">
                <dt>Descripción</dt>
                <dd>{{contrato.descripcion}}</dd>
            </dl>
        </div>

    </div>

    <div class="card-footer text-muted">
        <div class="row">
            <div class="col-6 text-left">
                <button type="button" class="btn btn-primary" (click)="editarContrato(contrato.id)">Editar</button> &nbsp;
                <button type="button" class="btn btn-danger" (click)="borrarContrato(contrato.id)">Borrar</button>
            </div>
        </div>
    </div>
</div>