<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- NOMBRE -->
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
                        <span>{{cliente.nombre}}</span>
                    </div>
                </div>
                <!-- CODIGO CLIENTE -->
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="nombre" class="col-form-label col-sm-2">Código cliente</label>
                        <span>{{cliente.codigo}}</span>
                    </div>
                </div>
                <!-- PRIMER APELLIDO -->
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="nombre" class="col-form-label col-sm-2">Primer apellido</label>
                        <span>{{cliente.apellidoPrimero}}</span>
                    </div>
                </div>
                <!-- SEGUNDO APELLIDO -->
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="apellidoSegundo" class="col-form-label col-sm-2">Segundo apellido</label>
                        <span>{{cliente.apellidoSegundo}}</span>
                    </div>
                </div>
                <!-- NIF -->
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="nif" class="col-form-label col-sm-2">NIF/DNI</label>
                        <span>{{cliente.nif}}</span>
                    </div>
                </div>
                <!-- TIPO CLIENTE -->
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="tipoCliente" class="col-form-label col-sm-2">Tipo de cliente</label>
                        <span>{{cliente.tipoCliente}}</span>
                    </div>
                </div>
                <!-- CODIGO POSTAL -->
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="codigoPostal" class="col-form-label col-sm-2">Código postal</label>
                        <span>{{cliente.codigoPostal}}</span>
                    </div>
                </div>
                <!-- DIRECCION -->
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="direccion" class="col-form-label col-sm-2">Dirección</label>
                        <span>{{cliente.direccion}}</span>
                    </div>
                </div>
                <!-- EDIFICIO -->
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="edificio" class="col-form-label col-sm-2">Edificio</label>
                        <span>{{cliente.edificio}}</span>
                    </div>
                </div>
                <!-- OBSERVACIONES -->
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="observaciones" class="col-form-label col-sm-2">Observaciones</label>
                        <span>{{cliente.observaciones}}</span>
                    </div>
                </div>
                <!-- TELEFONO -->
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="telefono" class="col-form-label col-sm-2">Teléfono</label>
                        <span>{{cliente.telefono}}</span>
                    </div>
                </div>
                <!-- PAIS -->
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="nombre" class="col-form-label col-sm-2">País</label>
                        <span>{{cliente.pais}}</span>
                    </div>
                </div>
                <!-- REGION -->
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="nombre" class="col-form-label col-sm-2">Región</label>
                        <span>{{cliente.region}}</span>
                    </div>
                </div>
                <!-- PROVINCIA -->
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="provincia" class="col-form-label col-sm-2">Provincia</label>
                        <span>{{cliente.provincia}}</span>
                    </div>
                </div>
                <!-- POBLACION -->
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="poblacion" class="col-form-label col-sm-2">Población</label>
                        <span>{{cliente.poblacion}}</span>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Editar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>

    </div>
</div>