<div class="card text-center">
    <div class="card-header txt-center">
        <h5 class="card-title">Compra</h5>
    </div>
    <div class="card-body">

        <!-- Fila 1-->
        <h6 class="card-subtitle mb-2 text-muted text-left">Datos compra</h6>
        <div class="form-group row text-left">
            <!-- CODIGO COMPRA -->
            <dl class="col-3" *ngIf="compra.codigo">
                <dt>Código compra</dt>
                <dd>{{compra.codigo}}</dd>
            </dl>
            <!-- FECHA COMPRA -->
            <dl class="col-9" *ngIf="compra.fechaCompra">
                <dt>Fecha compra</dt>
                <dd>{{compra.fechaCompra | date: 'd/MM/yyyy'}}</dd>
            </dl>
            <!-- ARTICULO -->
            <dl class="col-3" *ngIf="compra.articulo">
                <dt>Artículo</dt>
                <dd>{{compra.articulo}}</dd>
            </dl>
            <!-- CANTIDAD -->
            <dl class="col-9" *ngIf="compra.cantidad">
                <dt>Cantidad</dt>
                <dd>{{compra.cantidad}}</dd>
            </dl>
        </div>

        <!-- Fila 2-->
        <h6 class="card-subtitle mb-2 text-muted text-left">Costes</h6>
        <div class="form-group row text-left">
            <!-- BASE IMPONIBLE -->
            <dl class="col-3" *ngIf="compra.baseImponibleTotal">
                <dt>Base imponible</dt>
                <dd>{{compra.baseImponibleTotal}}</dd>
            </dl>
            <!-- IMPUESTO -->
            <dl class="col-3" *ngIf="compra.impuesto">
                <dt>Impuesto</dt>
                <dd>{{compra.impuesto}}</dd>
            </dl>
            <!-- IMPORTE TOTAL -->
            <dl class="col-6" *ngIf="compra.importeTotal">
                <dt>Importe total</dt>
                <dd>{{compra.importeTotal}}</dd>
            </dl>
        </div>

        <div class="card-footer text-muted">
            <div class="row">
                <div class="col-6 text-left">
                    <button type="button" class="btn btn-primary" (click)="editarCompra(compra.id)">Editar</button> &nbsp;
                    <button type="button" class="btn btn-danger" (click)="borrarCompra(compra.id)">Borrar</button>
                </div>
            </div>
        </div>
    </div>