<div class="card text-center">
    <div class="card-header">
    </div>
    <div class="card-body">
        <h5 class="card-title">Compra</h5>
        <!-- CODIGO COMPRA -->
        <div class="form-group row">
            <label for="codigo" class="col-form-label col-sm-2">Código compra</label>
            <span *ngIf="compra.codigo">{{compra.codigo}}</span>
        </div>

        <!-- FECHA COMPRA -->
        <div class="form-group row">
            <label for="fechaCompra" class="col-form-label col-sm-2">Fecha compra</label>
            <span *ngIf="compra.fechaCompra">{{compra.fechaCompra | date}}</span>
        </div>

        <!-- ARTICULO -->
        <div class="form-group row">
            <label for="articulo" class="col-form-label col-sm-2">Artículo</label>
            <span *ngIf="compra.articulo">{{compra.articulo}}</span>
        </div>

        <!-- CANTIDAD -->
        <div class="form-group row">
            <label for="cantidad" class="col-form-label col-sm-2">Cantidad</label>
            <span *ngIf="compra.cantidad">{{compra.cantidad}}</span>
        </div>

        <!-- BASE IMPONIBLE -->
        <div class="form-group row">
            <label for="baseImponible" class="col-form-label col-sm-2">Base imponible</label>
            <span *ngIf="compra.baseImponibleTotal">{{compra.baseImponibleTotal}}</span>
        </div>

        <!-- IMPUESTO -->
        <div class="form-group row">
            <label for="impuesto" class="col-form-label col-sm-2">Impuesto</label>
            <span *ngIf="compra.impuesto">{{compra.impuesto}}</span>
        </div>

        <!-- IMPORTE TOTAL -->
        <div class="form-group row">
            <label for="importeTotal" class="col-form-label col-sm-2">Importe total</label>
            <span *ngIf="compra.importeTotal">{{compra.importeTotal}}</span>
        </div>
    </div>

    <div class="card-footer text-muted">
        <a href="#" class="btn btn-primary">Editar</a>
        <a href="#" class="btn btn-primary">Borrar</a>
    </div>
</div>