<div class="card text-center">
    <div class="card-header">
    </div>
    <div class="card-body">

        <h5 class="card-title">Almacén</h5>

        <!-- NOMBRE -->
        <div class="form-group row">
            <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
            <span *ngIf="almacen.nombre">{{almacen.nombre}}</span>
        </div>

        <!-- CODIGO -->
        <div class="form-group row">
            <label for="codigo" class="col-form-label col-sm-2">Código almacén</label>
            <span *ngIf="almacen.codigo">{{almacen.codigo}}</span>
        </div>

        <!-- CODIGO POSTAL -->
        <div class="form-group row">
            <label for="codigoPostal" class="col-form-label col-sm-2">Código postal</label>
            <span *ngIf="almacen.codigoPostal">{{almacen.codigoPostal}}</span>
        </div>

        <!-- DIRECCION -->
        <div class="form-group row">
            <label for="direccion" class="col-form-label col-sm-2"></label>
            <span *ngIf="almacen.direccion">{{almacen.direccion}}</span>
        </div>

        <!-- EDIFICIO -->
        <div class="form-group row">
            <label for="edificio" class="col-form-label col-sm-2">Edificio</label>
            <span *ngIf="almacen.edificio">{{almacen.edificio}}</span>
        </div>

        <!-- OBSERVACIONES -->
        <div class="form-group row">
            <label for="observaciones" class="col-form-label col-sm-2">Observaciones</label>
            <span *ngIf="almacen.observaciones">{{almacen.observaciones}}</span>
        </div>

        <!-- TELEFONO -->
        <div class="form-group row">
            <label for="telefono" class="col-form-label col-sm-2">Teléfono</label>
            <span *ngIf="almacen.telefono">{{almacen.telefono}}</span>
        </div>

        <!-- PAIS -->
        <div class="form-group row">
            <label for="pais" class="col-form-label col-sm-2">País</label>
            <span *ngIf="almacen.pais">{{almacen.pais}}</span>
        </div>

        <!-- REGION -->
        <div class="form-group row">
            <label for="region" class="col-form-label col-sm-2">Región</label>
            <span *ngIf="almacen.region">{{almacen.region}}</span>
        </div>

        <!-- PROVINCIA -->
        <div class="form-group row">
            <label for="provincia" class="col-form-label col-sm-2">Provincia</label>
            <span *ngIf="almacen.provincia">{{almacen.provincia}}</span>
        </div>

        <!-- POBLACION -->
        <div class="form-group row">
            <label for="poblacion" class="col-form-label col-sm-2">Población</label>
            <span *ngIf="almacen.poblacion">{{almacen.poblacion}}</span>
        </div>

    </div>
    <div class="card-footer text-muted">
        <a href="#" class="btn btn-primary">Editar</a>
        <a href="#" class="btn btn-primary">Borrar</a>
    </div>
</div>