<div class="card text-center">

    <div class="card-header">
        <h5 class="card-title">Almacén</h5>
    </div>

    <div class="card-body">

        <!-- Fila 1-->
        <h6 class="card-subtitle mb-2 text-muted text-left">Datos comunes</h6>
        <div class="form-group row text-left">
            <!-- CODIGO CLIENTE -->
            <dl class="col" *ngIf="almacen.codigo">
                <dt>Código almacén</dt>
                <dd>{{almacen.codigo}}</dd>
            </dl>
            <!-- NOMBRE -->
            <dl class="col" *ngIf="almacen.nombre">
                <dt>Nombre</dt>
                <dd>{{almacen.nombre}}</dd>
            </dl>
            <!-- TELEFONO -->
            <dl class="col" *ngIf="almacen.telefono">
                <dt>Teléfono</dt>
                <dd>{{almacen.telefono}}</dd>
            </dl>
            <!-- OBSERVACIONES -->
            <dl class="col" *ngIf="almacen.observaciones">
                <dt>Observaciones</dt>
                <dd>{{almacen.observaciones}}</dd>
            </dl>
        </div>

        <!-- Fila 3-->
        <h6 class="card-subtitle mb-2 text-muted text-left">Dirección Postal</h6>
        <div class="form-group row text-left">
            <!-- DIRECCION -->
            <dl class="col-3" *ngIf="almacen.direccion">
                <dt>Código postal</dt>
                <dd>{{almacen.direccion}}</dd>
            </dl>
            <!-- CODIGO POSTAL -->
            <dl class="col-3" *ngIf="almacen.codigoPostal">
                <dt>Dirección</dt>
                <dd>{{almacen.codigoPostal}}</dd>
            </dl>
            <!-- EDIFICIO -->
            <dl class="col-3" *ngIf="almacen.edificio">
                <dt>Edificio</dt>
                <dd>{{almacen.edificio}}</dd>
            </dl>
        </div>

        <!-- Fila 3-->
        <h6 class="card-subtitle mb-2 text-muted text-left">Procedencia</h6>
        <div class="form-group row text-left">
            <!-- PAIS -->
            <dl class="col" *ngIf="almacen.pais">
                <dt>País</dt>
                <dd>{{almacen.pais}}</dd>
            </dl>
            <!-- REGION -->
            <dl class="col" *ngIf="almacen.region">
                <dt>Región</dt>
                <dd>{{almacen.region}}</dd>
            </dl>
            <!-- PROVINCIA -->
            <dl class="col" *ngIf="almacen.provincia">
                <dt>Provincia</dt>
                <dd>{{almacen.provincia}}</dd>
            </dl>
            <!-- POBLACION -->
            <dl class="col" *ngIf="almacen.poblacion">
                <dt>Población</dt>
                <dd>{{almacen.poblacion}}</dd>
            </dl>
        </div>
    </div>

    <div class="card-footer text-muted">
        <div class="row">
            <div class="col-6 text-left">
                <button type="button" class="btn btn-primary" (click)="editarAlmacen(almacen.id)">Editar</button> &nbsp;
                <button type="button" class="btn btn-danger" (click)="borrarAlmacen(almacen.id)">Borrar</button>
            </div>
        </div>
    </div>
</div>