<div class="card fondoHomePrincipal">
    <div class="card-body text-center">

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Bienvenido</h1>
                <p class="lead">Este el software online para la gestión de su empresa.</p>
            </div>
        </div>
        <div class="form-group row">
            <!--IMGEN BIENVENIDA-->
            <div class="col-12 text-center">
                <!--<p><img src="assets/img/home/bienvenida.jpg" width="565" height="400" alt=""></p>-->
                <p><img src="assets/img/home/principal.png" width="700" alt=""></p>
            </div>
        </div>
    </div>