<div class="card formluario">

    <div class="card-header cabecera text-center">Nuevo proveedor</div>

    <div class="card-body bg-light">

        <!-- FORMULARIO -->
        <form autocomplete="off" (ngSubmit)="crearProveedorFormulario()">

            <!-- NOMBRE -->
            <div class="form-group row">
                <label for="nombre" class="col-form-label font-weight-bold col-4 required">Nombre proveedor</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" [(ngModel)]="proveedor.nombre" name="nombre">
                    <div *ngIf="erroresFormulario != null && erroresFormulario['nombre']">
                        <span class="error text-danger">{{erroresFormulario['nombre']}}</span>
                    </div>
                </div>
            </div>

            <!-- CODIGO PROVEEDOR -->
            <div class="form-group row">
                <label for="codigo" class="col-form-label font-weight-bold col-4 required">Código proveedor</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" [(ngModel)]="proveedor.codigo" name="codigo">
                    <div *ngIf="erroresFormulario != null && erroresFormulario['codigo']">
                        <span class="error text-danger">{{erroresFormulario['codigo']}}</span>
                    </div>
                </div>
            </div>

            <!-- NOMBRE EMPRESA -->
            <div class="form-group row">
                <label for="nombreEmpresa" class="col-form-label font-weight-bold col-4 required">Nombre empresa</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" [(ngModel)]="proveedor.nombreEmpresa" name="nombreEmpresa">
                    <div *ngIf="erroresFormulario != null && erroresFormulario['nombreEmpresa']">
                        <span class="error text-danger">{{erroresFormulario['nombreEmpresa']}}</span>
                    </div>
                </div>
            </div>

            <!-- TELEFONO -->
            <div class="form-group row">
                <label for="telefono" class="col-form-label font-weight-bold col-4 required">Teléfono</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" [(ngModel)]="proveedor.telefono" name="telefono">
                    <div *ngIf="erroresFormulario != null && erroresFormulario['telefono']">
                        <span class="error text-danger">{{erroresFormulario['telefono']}}</span>
                    </div>
                </div>
            </div>

            <!-- TIPO PROVEEDOR -->
            <div class="form-group row">
                <label for="tipoProveedor" class="col-form-label font-weight-bold col-4 required">Tipo proveedor</label>
                <div class="col-sm-7">
                    <p>
                        <select name="impuesto" title="" [(ngModel)]="proveedor.tipoProveedor">
                            <option disabled="true"  selected >Selecciona tipo impuesto</option> 
                            <option [value]="tipo" *ngFor="let tipo of tiposProveedores">{{ tipo | capitalizar }}</option> 
                        </select>
                    </p>
                    <div *ngIf="erroresFormulario != null && erroresFormulario['tipoProveedor']">
                        <span class="error text-danger">{{erroresFormulario['tipoProveedor']}}</span>
                    </div>
                </div>
            </div>

            <!-- BOTON -->
            <div class="form-group row text-center">
                <div class="col-sm-12">
                    <br/>
                    <button class="btn btn-primary" role="button">Crear proveedor</button>
                </div>
            </div>

        </form>
    </div>
</div>