<div class="card bg-dark text-light">

    <div class="card-header">Nuevo gasto</div>

    <div class="card-body">

        <!-- FORMULARIO -->
        <form autocomplete="off" (ngSubmit)="crearGastoFormulario()">

            <!-- CODIGO CLIENTE -->
            <div class="form-group row">
                <label for="codigo" class="col-form-label col-sm-2">Código gasto</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="gasto.codigo" name="codigo">
                </div>
            </div>

            <!-- PROCEDENCIA -->
            <div class="form-group row">
                <label for="procendecia" class="col-form-label col-sm-2">Procendecia</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="gasto.procendecia" name="procendecia">
                </div>
            </div>

            <!-- BASE IMPONIBLE -->
            <div class="form-group row">
                <label for="baseImponible" class="col-form-label col-sm-2">Base imponible</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="gasto.baseImponible" name="baseImponible">
                </div>
            </div>

            <!-- IMPUESTO -->
            <div class="form-group row">
                <label for="cuotaTributaria" class="col-form-label col-sm-2">Impuesto</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="gasto.cuotaTributaria" name="cuotaTributaria">
                </div>
            </div>

            <!-- IMPORTE TOTAL -->
            <div class="form-group row">
                <label for="importeTotal" class="col-form-label col-sm-2">Importe total</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="gasto.importeTotal" name="importeTotal">
                </div>
            </div>

            <!-- DESCRIPCION -->
            <div class="form-group row">
                <label for="descripcion" class="col-form-label col-sm-2">Descripción</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="gasto.descripcion" name="descripcion">
                </div>
            </div>

            <!-- OBSERVACIONES -->
            <div class="form-group row">
                <label for="observaciones" class="col-form-label col-sm-2">Observaciones</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="gasto.observaciones" name="observaciones">
                </div>
            </div>

            <!-- BOTON -->
            <div class="form-group row">
                <div class="col-sm-6">
                    <button class="btn btn-primary" role="button">Crear gasto</button>
                </div>
            </div>

        </form>
    </div>
</div>