.formluario {
    /*width: 1050px;*/
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

.cabecera {
    background-color: #3198FF;
    font-size: larger;
    font-weight: bold;
}

.table {
    overflow-y: scroll;
}