<!-- dayGridMonth-->

<!--<full-calendar #planificador defaultView="timeGridWeek" [editable]="true" [customButtons]="customButtons" [header]="headerCalendario" [plugins]="calendarPlugins" [weekends]="true" [locales]="locales" [locale]="locale" (eventClick)="crearEventoPlanificador()"
    [events]="eventosCalendario">
</full-calendar>-->

<!-- Para editar eventos (eventClick)="crearEventoPlanificador()" -->

<!--<div *ngIf="configuracionCalendario">
    <full-calendar #planificador defaultView="timeGridWeek" [editable]="true" [customButtons]="configuracionCalendario.customButtons" [header]="configuracionCalendario.headerCalendario" [plugins]="configuracionCalendario.calendarPlugins" [weekends]="true"
        [locales]="configuracionCalendario.locales" [locale]="configuracionCalendario.locale" [events]="configuracionCalendario.eventosCalendario">
    </full-calendar>
</div>-->

<div *ngIf="configuracionCalendario">

    <full-calendar *ngIf="calendarioVisible" [options]='configuracionCalendario'>

    </full-calendar>

</div>

<!-- MODAL CREAR EVENTO -->
<div id="crearEventoModal" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Crear Evento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body" style="padding: 5%;">
                <!-- FORMULARIO CREAR EVENTO -->
                <div>
                    <form autocomplete="off" (ngSubmit)="crearEventoPlanificador()">
                        <!-- TITULO -->
                        <div class="form-group row">
                            <div class="col-sm-3 text-left">
                                <label for="descripcion" class="col-form-label col-sm-2">Título</label>
                            </div>
                            <div class="col-sm-6 text-left">
                                <input type="text" class="form-control" [(ngModel)]="evento.titulo" name="titulo">
                            </div>
                        </div>
                        <!-- FECHA INICIO -->
                        <div class="form-group row">
                            <div class="col-sm-3 text-left">
                                <label for="descripcion" class="col-form-label col-sm-2">Fecha Inicio</label>
                            </div>
                            <div class="col-sm-6 text-left">
                                <input type="datetime-local" class="form-control" [ngModel]="evento.fechaInicio | date:'yyyy-MM-ddThh:mm'" (ngModelChange)="evento.fechaInicio = $event" name="fechaInicio">
                            </div>
                        </div>
                        <!-- FECHA FIN -->
                        <div class="form-group row">
                            <div class="col-sm-3 text-left">
                                <label for="descripcion" class="col-form-label col-sm-2">Fecha Fín</label>
                            </div>
                            <div class="col-sm-6 text-left">
                                <input type="datetime-local" class="form-control" [ngModel]="evento.fechaFin | date:'yyyy-MM-ddThh:mm'" (ngModelChange)="evento.fechaFin = $event" name="fechaFin">
                            </div>
                        </div>
                        <!-- DESCRIPCION -->
                        <div class="form-group row">
                            <div class="col-sm-3 text-left">
                                <label for="descripcion" class="col-form-label col-sm-2">Descripción</label>
                            </div>
                            <div class="col-sm-6 text-left">
                                <!--<input type="text-area" class="form-control" [(ngModel)]="evento.descripcion" name="descripcion">-->
                                <textarea class="form-control" name="descripcion" [(ngModel)]="evento.descripcion" rows="4" cols="50"></textarea>
                            </div>
                        </div>
                        <br/>
                        <!-- BOTON -->
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            </div>
                            <div class="col-sm-6 text-right">
                                <button class="btn btn-primary" role="button">Crear evento</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL VISUALIZAR EVENTO -->
<div id="visualizarEventoModal" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <!-- TITULO -->
            <div class="modal-header">
                <h5 class="modal-title">{{evento.titulo}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- CARD EVENTO -->
            <div class="modal-body">
                <!-- FECHAS INICIO Y FIN -->
                <div class="form-group row">
                    <dl *ngIf="!evento.diaCompleto" class="col">
                        <dt>Fecha Inicio</dt>
                        <dd>{{evento.fechaInicio | date: 'EEEE d/MMMM/yyyy H:mm' }}</dd>
                    </dl>
                    <dl *ngIf="!evento.diaCompleto" class="col">
                        <dt>Fecha Fín</dt>
                        <dd>{{evento.fechaFin | date: 'EEEE d/MMMM/yyyy H:mm' }}</dd>
                    </dl>
                    <dl *ngIf="evento.diaCompleto" class="col">
                        <dt>Fecha</dt>
                        <dd>{{evento.fechaInicio | date: 'EEEE d/MMMM/yyyy H:mm' }}</dd>
                    </dl>
                </div>
                <!-- DESCRIPCION -->
                <div class="form-group row">
                    <dl class="col">
                        <dt>Descripción</dt>
                        <dd>
                            <p>{{evento.descripcion}}</p>
                        </dd>
                    </dl>
                </div>

                <!-- BOTONES -->
                <div class="form-group row">
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-primary" (click)="editarEventoPlanificador()">Editar</button>
                    </div>
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-danger" (click)="eliminarEventoPlanificador()">Eliminar</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>