<div *ngIf="configuracionCalendario">

    <full-calendar *ngIf="calendarioVisible" [options]='configuracionCalendario'>

    </full-calendar>

</div>

<!-- MODAL CREAR EVENTO -->
<div id="crearEventoModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title bg-blue">{{tituloCrearEditar}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" style="padding: 5%;">
                <!-- FORMULARIO CREAR EVENTO -->
                <div>
                    <form autocomplete="off" (ngSubmit)="crearEventoPlanificador()">
                        <!-- TITULO -->
                        <div class="form-group row">
                            <div class="col-sm-3 text-left">
                                <label for="descripcion" class="col-form-label font-weight-bold required">Título</label>
                            </div>
                            <div class="col-sm-6 text-left">
                                <input type="text" class="form-control" [(ngModel)]="evento.titulo" name="titulo">
                            </div>
                        </div>
                        <!-- FECHA INICIO -->
                        <div class="form-group row">
                            <div class="col-sm-3 text-left">
                                <label for="descripcion" class="col-form-label font-weight-bold required">Fecha Inicio</label>
                            </div>
                            <div class="col-sm-6 text-left">
                                <!--<input type="datetime-local" class="form-control" [ngModel]="evento.fechaInicio | date:'yyyy-MM-dd hh:mm'" (ngModelChange)="evento.fechaInicio = $event" name="fechaInicio">-->
                                <input type="text" id="fechaEventoInicioDatePicker" class="form-control" name="fechaInicio" [ngModel]="evento.fechaInicio | date:'dd-MM-yyyy'" />
                            </div>
                        </div>
                        <!-- FECHA FIN -->
                        <div class="form-group row">
                            <div class="col-sm-3 text-left">
                                <label for="descripcion" class="col-form-label font-weight-bold required">Fecha Fín</label>
                            </div>
                            <div class="col-sm-6 text-left">
                                <!--<input type="datetime-local" class="form-control" [ngModel]="evento.fechaFin | date:'yyyy-MM-dd hh:mm'" (ngModelChange)="evento.fechaFin = $event" name="fechaFin">-->
                                <input type="text" id="fechaEventoFinDatePicker" class="form-control" name="fechaFin" [ngModel]="evento.fechaFin | date:'dd-MM-yyyy HH:mm'" />
                            </div>
                        </div>
                        <!-- DESCRIPCION -->
                        <div class="form-group row">
                            <div class="col-sm-3 text-left">
                                <label for="descripcion" class="col-form-label font-weight-bold">Descripción</label>
                            </div>
                            <div class="col-sm-6 text-left">
                                <!--<input type="text-area" class="form-control" [(ngModel)]="evento.descripcion" name="descripcion">-->
                                <textarea class="form-control" name="descripcion" [(ngModel)]="evento.descripcion" rows="4" cols="50"></textarea>
                            </div>
                        </div>
                        <br/>
                        <!-- BOTON -->
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            </div>
                            <div class="col-sm-6 text-right">
                                <button class="btn btn-primary" role="button">{{botonCrearEditar}}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL VISUALIZAR EVENTO -->
<div id="visualizarEventoModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">

        <div class="modal-content">

            <!-- TITULO -->
            <div class="modal-header">
                <h5 class="modal-title bg-blue">{{evento.titulo}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- CARD EVENTO -->
            <div class="modal-body">
                <!-- FECHAS INICIO Y FIN -->
                <div class="form-group row">
                    <dl *ngIf="!evento.diaCompleto" class="col">
                        <dt>Fecha Inicio</dt>
                        <dd>{{evento.fechaInicio | date: 'EEEE d/MMMM/yyyy H:mm' }}</dd>
                    </dl>
                    <dl *ngIf="!evento.diaCompleto" class="col">
                        <dt>Fecha Fín</dt>
                        <dd>{{evento.fechaFin | date: 'EEEE d/MMMM/yyyy H:mm' }}</dd>
                    </dl>
                    <dl *ngIf="evento.diaCompleto" class="col">
                        <dt>Fecha</dt>
                        <dd>{{evento.fechaInicio | date: 'EEEE d/MMMM/yyyy H:mm' }}</dd>
                    </dl>
                </div>
                <!-- DESCRIPCION -->
                <div class="form-group row">
                    <dl class="col">
                        <dt>Descripción</dt>
                        <dd>
                            <p>{{evento.descripcion}}</p>
                        </dd>
                    </dl>
                </div>
            </div>

            <div class="modal-footer">
                <!-- BOTONES -->
                <div class="row">
                    <div class="col-6 text-left">
                        <button type="button" class="btn btn-primary" (click)="editarEventoPlanificador()">Editar</button>
                    </div>
                    <div class="col-6 text-right">
                        <button type="button" class="btn btn-danger" (click)="eliminarEventoPlanificador()">Eliminar</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>