<nav class="navbar navbar-expand-lg navbar-dark bg-primary bg-faded">

    <!-- Inicio -->
    <a class="navbar-brand" href="#">
        <img src="assets/img/inicio1.png" width="30" height="30" alt="">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!-- CRM -->
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="/crm" id="navbarCrmDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="assets/img/crm.png" width="20" height="20" alt=""> CRM
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarCrmDropdown">
                    <a class="dropdown-item" href="#">Clientes</a>
                </div>
            </li>
            <!-- BI -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/bi" id="navbarBiDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="assets/img/bi.png" width="20" height="20" alt=""> BI
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarBiDropdown">
                    <a class="dropdown-item" href="#">Ingresos</a>
                    <a class="dropdown-item" href="#">Gastos</a>
                    <a class="dropdown-item" href="#">Resultados</a>
                </div>
            </li>
            <!-- Ventas & Facturas -->
            <li class="nav-item dropdown">

                <a class="nav-link dropdown-toggle" href="/ventas" id="navbarVentasDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="assets/img/ventas.png" width="20" height="20" alt=""> Ventas & Factura
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarVentasDropdown">
                    <a class="dropdown-item" href="#">Contratos</a>
                    <a class="dropdown-item" href="#">Ventas</a>
                    <!--Separador-->
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Facturas</a>
                </div>
            </li>
            <!-- Compras -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/comrpas" id="navbarComprasDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="assets/img/compras.png" width="20" height="20" alt=""> Compras
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarComprasDropdown">
                    <a class="dropdown-item" href="#">Compras</a>
                    <a class="dropdown-item" href="#">Pedidos</a>
                    <!--Separador-->
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Proveedores</a>
                </div>
            </li>
            <!-- Inventario -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarInventarioDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="assets/img/inventario.png" width="20" height="20" alt=""> Inventario
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarInventarioDropdown">
                    <!-- Catalogo -->
                    <a class="dropdown-item" href="#">Catalogo</a>
                    <a class="dropdown-item" href="#">Alamacen</a>
                    <!--Separador-->
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Vehiculos</a>
                </div>
            </li>
            <!-- Empresa -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/empresa" id="navbarEmpresaDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="assets/img/empresa.png" width="20" height="20" alt=""> Empresa
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarEmpresaDropdown">
                    <a class="dropdown-item" href="#">RRHH</a>
                    <a class="dropdown-item" href="#">Configuracion</a>
                    <!--Separador-->
                    <!--<div class="dropdown-divider"></div>-->
                    <!--<a class="dropdown-item" href="#">Facturas</a>-->
                </div>
            </li>
        </ul>
    </div>
</nav>