<div class="card formluario">

    <div class="card-header cabecera text-center">Nuevo contrato</div>

    <div class="card-body bg-light">

        <!-- FORMULARIO -->
        <form autocomplete="off" (ngSubmit)="crearContratoFormulario()">

            <div class="row">
                <!-- CODIGO -->
                <div class="col-4">
                    <label for="codigo" class="col-form-label font-weight-bold col-12 text-left required">Código contrato</label>
                    <div class="col-12">
                        <input type="text" class="form-control" [(ngModel)]="contrato.codigo" name="codigo">
                        <div *ngIf="erroresFormulario != null && erroresFormulario['codigo']">
                            <span class="error text-danger">{{erroresFormulario['codigo']}}</span>
                        </div>
                    </div>
                </div>

                <!-- FECHA INICIO -->
                <div class="col-4 form-group">
                    <label for="fechaInicio" class="col-form-label font-weight-bold col-12 text-left required">Fecha inicio</label>
                    <div class="col-12">
                        <input type="date" class="form-control" [ngModel]="contrato.fechaInicio | date:'yyyy-MM-dd'" (ngModelChange)="contrato.fechaInicio = $event" name="fechaInicio">
                        <div *ngIf="erroresFormulario != null && erroresFormulario['fechaInicio']">
                            <span class="error text-danger">{{erroresFormulario['fechaInicio']}}</span>
                        </div>
                    </div>
                </div>

                <!-- FECHA FIN -->
                <div class="col-4 form-group">
                    <label for="fechaFin" class="col-form-label font-weight-bold col-12 text-left required">Fecha fín</label>
                    <div class="col-12">
                        <input type="date" class="form-control" [ngModel]="contrato.fechaFin | date:'yyyy-MM-dd'" (ngModelChange)="contrato.fechaFin = $event" name="fechaFin">
                        <div *ngIf="erroresFormulario != null && erroresFormulario['fechaFin']">
                            <span class="error text-danger">{{erroresFormulario['fechaFin']}}</span>
                        </div>
                    </div>
                </div>

            </div>

            <br/>

            <!-- TABLA DE ARTICULOS -->
            <div class="form-group row">
                <div class="col-12 text-left">
                    <h4>Lista de artículos</h4>
                </div>
                <div class="col-12">
                    <table id="tablaArticulos" class="table table-striped table-bordered">

                        <thead class="thead-light">
                            <tr>
                                <th class="ocultar">Id</th>
                                <th>Codigo</th>
                                <th>Articulo</th>
                                <th>Precio</th>
                                <th>Impuesto</th>
                                <th>Importe (Con Imp.)</th>
                                <th>Cantidad</th>
                                <th>Total</th>
                                <th class="ocultar">AlmacenId</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="contrato != null && contrato.lineaContrato != null">
                            <tr scope="row" id="linea_art_id_{{linea.id}}" *ngFor="let linea of contrato.lineaContrato; let i = index">
                                <td>{{linea.articuloDto.codigo}}</td>
                                <td>{{linea.articuloDto.nombre}}</td>
                                <td>{{linea.articuloDto.baseImponible | currency:'EUR':true }}</td>
                                <td>{{this.mapaIva.get(linea.articuloDto.impuesto)}}</td>
                                <td>{{linea.articuloDto.importeTotal | currency:'EUR':true}}</td>
                                <td>{{linea.cantidad}}</td>
                                <td>{{linea.importeTotal | currency:'EUR':true}}</td>
                                <td class="ocultar">{{linea.almacenId}}</td>
                                <td class="text-center">
                                    <button type="button" class="btn btn-danger" (click)="destruirLineaArticulo(linea.id)">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <span class="ocultar error text-danger" id="linea"></span>
                </div>
                <!-- BOTON AÑADIR -->
                <div class="col-sm-12 text-right">
                    <br/>
                    <p class="btn btn-primary" (click)="modalAnadirArticulo()" role="button">Añadir artículo</p>
                </div>
            </div>

            <!-- DESCRIPCION -->
            <div class="row">
                <label for="descripcion" class="col-form-label font-weight-bold text-lfet col-12">Descripción</label>
                <div class="col-12">
                    <textarea class="form-control" name="descripcion" maxlength="255" [(ngModel)]="contrato.descripcion" rows="4" cols="50"></textarea>
                </div>
            </div>

            <!-- BOTON -->
            <div class="form-group row text-center">
                <div class="col-sm-12">
                    <br/>
                    <button class="btn btn-primary" role="button">Crear contrato</button>
                </div>
            </div>

        </form>
    </div>
</div>
<app-modal-articulo #modalArticulo></app-modal-articulo>