<div class="card text-center">
    <div class="card-header">
    </div>
    <div class="card-body">

        <h5 class="card-title">Factura</h5>

        <!-- CODIGO FACTURA -->
        <div class="form-group row">
            <label for="codigo" class="col-form-label col-sm-2">Código factura</label>
            <span *ngIf="factura.codigo">{{factura.codigo}}</span>
        </div>

        <!-- FECHA CREACION -->
        <div class="form-group row">
            <label for="fechaCreacion" class="col-form-label col-sm-2">Fecha creación</label>
            <span *ngIf="factura.fechaCreacion">{{factura.fechaCreacion | date}}</span>
        </div>

        <!-- FECHA INICIO -->
        <div class="form-group row">
            <label for="fechaInicio" class="col-form-label col-sm-2">Fecha inicio</label>
            <span *ngIf="factura.fechaInicio">{{factura.fechaInicio | date}}</span>
        </div>

        <!-- FECHA FIN -->
        <div class="form-group row">
            <label for="fechaFin" class="col-form-label col-sm-2">Fecha fín</label>
            <span *ngIf="factura.fechaFin">{{factura.fechaFin | date}}</span>
        </div>

        <!-- DESCRIPCION -->
        <div class="form-group row">
            <label for="descripcion" class="col-form-label col-sm-2">Descripción</label>
            <span *ngIf="factura.descripcion">{{factura.descripcion}}</span>
        </div>

        <!-- BASE IMPONIBLE -->
        <div class="form-group row">
            <label for="baseImponible" class="col-form-label col-sm-2">Base imponible</label>
            <span *ngIf="factura.baseImponible">{{factura.baseImponible}}</span>
        </div>

        <!-- IMPUESTOS -->
        <div class="form-group row">
            <label for="cuotaTributaria" class="col-form-label col-sm-2">Impuestos</label>
            <span *ngIf="factura.cuotaTributaria">{{factura.cuotaTributaria}}</span>
        </div>

        <!-- IMPORTE TOTAL -->
        <div class="form-group row">
            <label for="importeTotal" class="col-form-label col-sm-2">Importe total</label>
            <span *ngIf="factura.importeTotal">{{factura.importeTotal}}</span>
        </div>

    </div>

    <div class="card-footer text-muted">
        <a href="#" class="btn btn-primary">Editar</a>
        <a href="#" class="btn btn-primary">Borrar</a>
    </div>
</div>