<div class="card text-center">
    <div class="card-header">
    </div>
    <div class="card-body">
        <h5 class="card-title">Cliente</h5>
        <!-- NOMBRE -->
        <div class="form-group row">
            <div class="col-sm-6">
                <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
                <span *ngIf="cliente.nombre">{{cliente.nombre}}</span>
            </div>
        </div>
        <!-- CODIGO CLIENTE -->
        <div class="form-group row">
            <div class="col-sm-6">
                <label for="nombre" class="col-form-label col-sm-2">Código cliente</label>
                <span *ngIf="cliente.codigo">{{cliente.codigo}}</span>
            </div>
        </div>
        <!-- PRIMER APELLIDO -->
        <div class="form-group row">
            <div class="col-sm-6">
                <label for="nombre" class="col-form-label col-sm-2">Primer apellido</label>
                <span *ngIf="cliente.apellidoPrimero">{{cliente.apellidoPrimero}}</span>
            </div>
        </div>
        <!-- SEGUNDO APELLIDO -->
        <div class="form-group row">
            <div class="col-sm-6">
                <label for="apellidoSegundo" class="col-form-label col-sm-2">Segundo apellido</label>
                <span *ngIf="cliente.apellidoSegundo">{{cliente.apellidoSegundo}}</span>
            </div>
        </div>
        <!-- NIF -->
        <div class="form-group row">
            <div class="col-sm-6">
                <label for="nif" class="col-form-label col-sm-2">NIF/DNI</label>
                <span *ngIf="cliente.nif">{{cliente.nif}}</span>
            </div>
        </div>
        <!-- TIPO CLIENTE -->
        <div class="form-group row">
            <div class="col-sm-6">
                <label for="tipoCliente" class="col-form-label col-sm-2">Tipo de cliente</label>
                <span *ngIf="cliente.tipoCliente">{{cliente.tipoCliente}}</span>
            </div>
        </div>
        <!-- CODIGO POSTAL -->
        <div class="form-group row">
            <div class="col-sm-6">
                <label for="codigoPostal" class="col-form-label col-sm-2">Código postal</label>
                <span *ngIf="cliente.codigoPostal">{{cliente.codigoPostal}}</span>
            </div>
        </div>
        <!-- DIRECCION -->
        <div class="form-group row">
            <div class="col-sm-6">
                <label for="direccion" class="col-form-label col-sm-2">Dirección</label>
                <span *ngIf="cliente.direccion">{{cliente.direccion}}</span>
            </div>
        </div>
        <!-- EDIFICIO -->
        <div class="form-group row">
            <div class="col-sm-6">
                <label for="edificio" class="col-form-label col-sm-2">Edificio</label>
                <span *ngIf="cliente.edificio">{{cliente.edificio}}</span>
            </div>
        </div>
        <!-- OBSERVACIONES -->
        <div class="form-group row">
            <div class="col-sm-6">
                <label for="observaciones" class="col-form-label col-sm-2">Observaciones</label>
                <span *ngIf="cliente.observaciones">{{cliente.observaciones}}</span>
            </div>
        </div>
        <!-- TELEFONO -->
        <div class="form-group row">
            <div class="col-sm-6">
                <label for="telefono" class="col-form-label col-sm-2">Teléfono</label>
                <span *ngIf="cliente.telefono">{{cliente.telefono}}</span>
            </div>
        </div>
        <!-- PAIS -->
        <div class="form-group row">
            <div class="col-sm-6">
                <label for="nombre" class="col-form-label col-sm-2">País</label>
                <span *ngIf="cliente.pais">{{cliente.pais}}</span>
            </div>
        </div>
        <!-- REGION -->
        <div class="form-group row">
            <div class="col-sm-6">
                <label for="nombre" class="col-form-label col-sm-2">Región</label>
                <span *ngIf="cliente.region">{{cliente.region}}</span>
            </div>
        </div>
        <!-- PROVINCIA -->
        <div class="form-group row">
            <div class="col-sm-6">
                <label for="provincia" class="col-form-label col-sm-2">Provincia</label>
                <span *ngIf="cliente.provincia">{{cliente.provincia}}</span>
            </div>
        </div>
        <!-- POBLACION -->
        <div class="form-group row">
            <div class="col-sm-6">
                <label for="poblacion" class="col-form-label col-sm-2">Población</label>
                <span *ngIf="cliente.poblacion">{{cliente.poblacion}}</span>
            </div>
        </div>
    </div>

    <div class="card-footer text-muted">
    </div>
</div>