<div class="card text-center">
    <div class="card-header">
    </div>
    <div class="card-body">

        <h5 class="card-title">Almacén</h5>

        <!-- NOMBRE -->
        <div class="form-group row">
            <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
            <span *ngIf="articulo.nombre">{{articulo.nombre}}</span>
        </div>

        <!-- CODIGO -->
        <div class="form-group row">
            <label for="codigo" class="col-form-label col-sm-2">Código articulo</label>
            <span *ngIf="articulo.codigo">{{articulo.codigo}}</span>
        </div>

        <!-- DESCRIPCION -->
        <div class="form-group row">
            <label for="descripcion" class="col-form-label col-sm-2">Descripción</label>
            <span *ngIf="articulo.descripcion">{{articulo.descripcion}}</span>
        </div>

        <!-- BASE IMPONIBLE -->
        <div class="form-group row">
            <label for="baseImponible" class="col-form-label col-sm-2">Base imponible</label>
            <span *ngIf="articulo.baseImponible">{{articulo.baseImponible}}</span>
        </div>

        <!-- IMPUESTO -->
        <div class="form-group row">
            <label for="impuesto" class="col-form-label col-sm-2">Impuesto</label>
            <span *ngIf="articulo.impuesto">{{articulo.impuesto}}</span>
        </div>

        <!-- IMPORTE TOTAL -->
        <div class="form-group row">
            <label for="importeTotal" class="col-form-label col-sm-2">Importe total</label>
            <span *ngIf="articulo.importeTotal">{{articulo.importeTotal}}</span>
        </div>

    </div>

    <div class="card-footer text-muted">
        <a href="#" class="btn btn-primary">Editar</a>
        <a href="#" class="btn btn-primary">Borrar</a>
    </div>
</div>