<div class="card formluario">

    <div class="card-header cabecera text-center">Nueva factura</div>

    <div class="card-body bg-light">

        <!-- FORMULARIO -->
        <form autocomplete="off" (ngSubmit)="crearFacturaFormulario()">

            <!-- CODIGO CLIENTE -->
            <div class="form-group row">
                <label for="codigo" class="col-form-label col-sm-4 required">Código factura</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" [(ngModel)]="factura.codigo" name="codigo">
                    <div *ngIf="erroresFormulario != null && erroresFormulario['codigo']">
                        <span class="error text-danger">{{erroresFormulario['codigo']}}</span>
                    </div>
                </div>
            </div>

            <!-- FECHA FACTURA -->
            <div class="form-group row">
                <label for="fechaInicio" class="col-form-label col-sm-4 required">Fecha factura</label>
                <div class="col-sm-7">
                    <input type="date" class="form-control" [ngModel]="factura.fechaInicio | date:'yyyy-MM-dd'" (ngModelChange)="factura.fechaInicio = $event" name="fechaInicio">
                    <div *ngIf="erroresFormulario != null && erroresFormulario['fechaInicio']">
                        <span class="error text-danger">{{erroresFormulario['fechaInicio']}}</span>
                    </div>
                </div>
            </div>

            <!-- DESCRIPCION -->
            <div class="form-group row">
                <label for="descripcion" class="col-form-label col-sm-4">Descripción</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" [(ngModel)]="factura.descripcion" name="descripcion">
                </div>
            </div>

            <!-- BASE IMPONIBLE -->
            <div class="form-group row">
                <label for="baseImponible" class="col-form-label col-sm-4 required">Base imponible</label>
                <div class="col-sm-7">
                    <input type="number" class="form-control" [(ngModel)]="factura.baseImponible" (change)="calcularImporteTotal()" name="baseImponible">
                    <div *ngIf="erroresFormulario != null && erroresFormulario['baseImponible']">
                        <span class="error text-danger">{{erroresFormulario['baseImponible']}}</span>
                    </div>
                </div>
            </div>

            <!-- IMPUESTOS -->
            <div class="form-group row">
                <label for="impuesto" class="col-form-label col-sm-4 required">Impuestos</label>
                <div class="col-sm-7">
                    <p>
                        <select name="impuesto" class="custom-select" title="" [(ngModel)]="factura.impuesto" (change)="calcularImporteTotal()">
                            <option disabled="true"  selected >Selecciona tipo impuesto</option> 
                            <option [value]="tipo" *ngFor="let tipo of tiposImpuesto">{{mapaIva.get(tipo) | capitalizar}}</option> 
                        </select>
                    </p>
                    <div *ngIf="erroresFormulario != null && erroresFormulario['impuesto']">
                        <span class="error text-danger">{{erroresFormulario['impuesto']}}</span>
                    </div>
                </div>
            </div>

            <!-- IMPORTE TOTAL -->
            <div class="form-group row">
                <label for="importeTotal" class="col-form-label col-sm-4">Importe total</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" [(ngModel)]="factura.importeTotal" name="importeTotal" readonly="true">
                    <!--<div *ngIf="erroresFormulario != null && erroresFormulario['importeTotal']">
                        <span class="error text-danger">{{erroresFormulario['importeTotal']}}</span>
                    </div>-->
                </div>
            </div>

            <!-- BOTON -->
            <div class="form-group row text-center">
                <div class="col-sm-12">
                    <br/>
                    <button class="btn btn-primary" role="button">Crear factura</button>
                </div>
            </div>

        </form>
    </div>
</div>