<div class="card formluario">

    <div class="card-header cabecera text-center">Nuevo usuario</div>

    <div class="card-body bg-light">

        <!-- FORMULARIO -->
        <form autocomplete="off" (ngSubmit)="crearUsuarioFormulario()">

            <!-- CODIGO -->
            <div class="form-group row">
                <label for="codigo" class="col-form-label font-weight-bold col-sm-4 required">Código usuario</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" [(ngModel)]="usuario.codigo" name="codigo">
                    <div *ngIf="erroresFormulario != null && erroresFormulario['codigo']">
                        <span class="error text-danger">{{erroresFormulario['codigo']}}</span>
                    </div>
                </div>
            </div>

            <!-- NOMBRE -->
            <div class="form-group row">
                <label for="nombreCompleto" class="col-form-label font-weight-bold col-sm-4 required">Nombre</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" [(ngModel)]="usuario.nombreCompleto" name="nombreCompleto">
                    <div *ngIf="erroresFormulario != null && erroresFormulario['nombreCompleto']">
                        <span class="error text-danger">{{erroresFormulario['nombreCompleto']}}</span>
                    </div>
                </div>
            </div>

            <!-- EMAIL -->
            <div class="form-group row">
                <label for="email" class="col-form-label font-weight-bold col-sm-4 required">Email</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" [(ngModel)]="usuario.email" name="email">
                    <div *ngIf="erroresFormulario != null && erroresFormulario['email']">
                        <span class="error text-danger">{{erroresFormulario['email']}}</span>
                    </div>
                </div>
            </div>

            <!-- USERNAME -->
            <div class="form-group row">
                <label for="username" class="col-form-label font-weight-bold col-sm-4 required">Usuario</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" [(ngModel)]="usuario.username" name="username">
                    <div *ngIf="erroresFormulario != null && erroresFormulario['username']">
                        <span class="error text-danger">{{erroresFormulario['username']}}</span>
                    </div>
                </div>
            </div>

            <!-- PASSWORD -->
            <div class="form-group row">
                <label for="password" class="col-form-label font-weight-bold col-sm-4 required">Contraseña</label>
                <div class="col-sm-7">
                    <input type="password" class="form-control" [(ngModel)]="usuario.password" name="password">
                    <div *ngIf="erroresFormulario != null && erroresFormulario['password']">
                        <span class="error text-danger">{{erroresFormulario['password']}}</span>
                    </div>
                </div>
            </div>

            <!-- BOTON -->
            <div class="form-group row text-center">
                <div class="col-sm-12">
                    <br/>
                    <button class="btn btn-primary" role="button">Crear usuario</button>
                </div>
            </div>

        </form>
    </div>
</div>