<div class="card formluario text-center">

    <div class="card-header cabecera text-center">
        <h5 class="card-title">Vehículo</h5>
    </div>

    <div class="card-body">

        <!-- Fila 1-->
        <h6 class="card-subtitle mb-2 text-muted text-left">Datos comunes</h6>
        <div class="form-group row text-left">
            <!-- CODIGO VEHICULO -->
            <dl class="col" *ngIf="vehiculo.codigo">
                <dt>Código vehículo</dt>
                <dd>{{vehiculo.codigo}}</dd>
            </dl>
            <!-- MATRICULA -->
            <dl class="col" *ngIf="vehiculo.codigo">
                <dt>Matrícula</dt>
                <dd>{{vehiculo.matricula}}</dd>
            </dl>
            <!-- MARCA -->
            <dl class="col" *ngIf="vehiculo.marca">
                <dt>Marca</dt>
                <dd>{{vehiculo.marca}}</dd>
            </dl>
            <!-- MODELO -->
            <dl class="col" *ngIf="vehiculo.modelo">
                <dt>Modelo</dt>
                <dd>{{vehiculo.modelo}}</dd>
            </dl>
        </div>

        <!-- Fila 1-->
        <h6 class="card-subtitle mb-2 text-muted text-left">Datos comunes</h6>
        <div class="form-group row text-left">
            <!-- FECHA MATRICULACION -->
            <dl class="col-3" *ngIf="vehiculo.fechaMatriculacion">
                <dt>Fecha matriculación</dt>
                <dd>{{vehiculo.fechaMatriculacion | date: 'd/MM/yyyy'}}</dd>
            </dl>
            <!-- TIPO VEHICULO -->
            <dl class="col-3" *ngIf="vehiculo.tipoVehiculo">
                <dt>Tipo de vehículo</dt>
                <dd>{{vehiculo.tipoVehiculo}}</dd>
            </dl>
            <!-- TIPO COMBUSTIBLE -->
            <dl class="col-6" *ngIf="vehiculo.tipoCombustible">
                <dt>Tipo de combustible</dt>
                <dd>{{vehiculo.tipoCombustible}}</dd>
            </dl>
        </div>
    </div>

    <div class="card-footer text-muted">
        <div class="row">
            <div class="col-6 text-left">
                <button type="button" class="btn btn-primary" (click)="editarVehiculo(vehiculo.id)">Editar</button> &nbsp;
                <button type="button" class="btn btn-danger" (click)="borrarVehiculo(vehiculo.id)">Borrar</button>
            </div>
        </div>
    </div>
</div>