<div class="card text-center">
    <div class="card-header">
    </div>
    <div class="card-body">

        <h5 class="card-title">Vehículo</h5>

        <!-- CODIGO vehiculo -->
        <div class="form-group row">
            <label for="codigo" class="col-form-label col-sm-2">Código vehículo</label>
            <span *ngIf="vehiculo.codigo">{{vehiculo.codigo}}</span>
        </div>

        <!-- MATRICULA -->
        <div class="form-group row">
            <label for="matricula" class="col-form-label col-sm-2">Matrícula</label>
            <span *ngIf="vehiculo.matricula">{{vehiculo.matricula}}</span>
        </div>

        <!-- MARCA -->
        <div class="form-group row">
            <label for="marca" class="col-form-label col-sm-2">Marca</label>
            <span *ngIf="vehiculo.marca">{{vehiculo.marca}}</span>
        </div>

        <!-- MODELO -->
        <div class="form-group row">
            <label for="modelo" class="col-form-label col-sm-2">Modelo</label>
            <span *ngIf="vehiculo.modelo">{{vehiculo.modelo}}</span>
        </div>

        <!-- FECHA METRICULACION -->
        <div class="form-group row">
            <label for="fechaMatriculacion" class="col-form-label col-sm-2">Fecha matriculación</label>
            <span *ngIf="vehiculo.fechaMatriculacion">{{vehiculo.fechaMatriculacion | date}}</span>
        </div>

        <!-- TIPO VEHICULO -->
        <div class="form-group row">
            <label for="tipoVehiculo" class="col-form-label col-sm-2">Tipo de vehículo</label>
            <span *ngIf="vehiculo.tipoVehiculo">{{vehiculo.tipoVehiculo}}</span>
        </div>

    </div>

    <div class="card-footer text-muted">
        <a href="#" class="btn btn-primary">Editar</a>
        <a href="#" class="btn btn-primary">Borrar</a>
    </div>
</div>