<div class="card text-center">
    <div class="card-header text-center">
        <h5 class="card-title">Empleado</h5>
    </div>
    <div class="card-body">

        <!-- Fila 1-->
        <h6 class="card-subtitle mb-2 text-muted text-left">Datos comunes</h6>
        <div class="form-group row text-left">
            <!-- CODIGO empleado -->
            <dl class="col" *ngIf="empleado.codigo">
                <dt>Código empleado</dt>
                <dd>{{empleado.codigo}}</dd>
            </dl>
            <!-- NOMBRE -->
            <dl class="col" *ngIf="empleado.nombre">
                <dt>Nombre</dt>
                <dd>{{empleado.nombre}}</dd>
            </dl>
            <!-- PRIMER APELLIDO -->
            <dl class="col" *ngIf="empleado.apellidoPrimero">
                <dt>Primer apellido</dt>
                <dd>{{empleado.apellidoPrimero}}</dd>
            </dl>
            <!-- SEGUNDO APELLIDO -->
            <dl class="col" *ngIf="empleado.apellidoSegundo">
                <dt>Segundo apellido</dt>
                <dd>{{empleado.apellidoSegundo}}</dd>
            </dl>
        </div>

        <!-- Fila 2-->
        <div class="form-group row text-left">
            <!-- NIF -->
            <dl class="col" *ngIf="empleado.nif">
                <dt>NIF/DNI</dt>
                <dd>{{empleado.nif}}</dd>
            </dl>
            <!-- TIPO empleado -->
            <dl class="col" *ngIf="empleado.tipoEmpleado">
                <dt>Tipo de empleado</dt>
                <dd>{{empleado.tipoEmpleado}}</dd>
            </dl>
            <!-- TELEFONO -->
            <dl class="col" *ngIf="empleado.telefono">
                <dt>Teléfono</dt>
                <dd>{{empleado.telefono}}</dd>
            </dl>
            <!-- OBSERVACIONES -->
            <dl class="col" *ngIf="empleado.observaciones">
                <dt>Observaciones</dt>
                <dd>{{empleado.observaciones}}</dd>
            </dl>
        </div>

        <!-- Fila 3-->
        <h6 class="card-subtitle mb-2 text-muted text-left">Dirección Postal</h6>
        <div class="form-group row text-left">
            <!-- DIRECCION -->
            <dl class="col-3" *ngIf="empleado.direccion">
                <dt>Código postal</dt>
                <dd>{{empleado.direccion}}</dd>
            </dl>
            <!-- CODIGO POSTAL -->
            <dl class="col-3" *ngIf="empleado.codigoPostal">
                <dt>Dirección</dt>
                <dd>{{empleado.codigoPostal}}</dd>
            </dl>
            <!-- EDIFICIO -->
            <dl class="col-3" *ngIf="empleado.edificio">
                <dt>Edificio</dt>
                <dd>{{empleado.edificio}}</dd>
            </dl>
        </div>

        <!-- Fila 3-->
        <h6 class="card-subtitle mb-2 text-muted text-left">Procedencia</h6>
        <div class="form-group row text-left">
            <!-- PAIS -->
            <dl class="col" *ngIf="empleado.pais">
                <dt>País</dt>
                <dd>{{empleado.pais}}</dd>
            </dl>
            <!-- REGION -->
            <dl class="col" *ngIf="empleado.region">
                <dt>Región</dt>
                <dd>{{empleado.region}}</dd>
            </dl>
            <!-- PROVINCIA -->
            <dl class="col" *ngIf="empleado.provincia">
                <dt>Provincia</dt>
                <dd>{{empleado.provincia}}</dd>
            </dl>
            <!-- POBLACION -->
            <dl class="col" *ngIf="empleado.poblacion">
                <dt>Población</dt>
                <dd>{{empleado.poblacion}}</dd>
            </dl>
        </div>
    </div>

    <div class="card-footer text-muted">
        <div class="row">
            <div class="col-6 text-left">
                <button type="button" class="btn btn-primary" (click)="editarEmpleado(empleado.id)">Editar</button> &nbsp;
                <button type="button" class="btn btn-danger" (click)="borrarEmpleado(empleado.id)">Borrar</button>
            </div>
        </div>
    </div>
</div>