<nav class="navbar navbar-expand-lg navbar-dark bg-primary navBar fixed-top">
    <!---->

    <!-- Inicio -->
    <a class="navbar-brand" [routerLink]="['inicio']">
        <img src="assets/img/navbar/inicio1.png" width="30" height="30" alt="">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <!--CRM-->
        <ul class="navbar-nav mt-auto">
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="assets/img/navbar/crm.png" width="20" height="20" alt=""> CRM
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle">Clientes</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" [routerLink]="['clientes']">Listado</a></li>
                            <li><a class="dropdown-item" [routerLink]="['clientes','nuevo-cliente']">Nuevo cliente</a></li>
                            <!--<li><a class="dropdown-item" [routerLink]="['clientes','cliente']">Buscar cliente</a></li>-->
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
        <!--PLANIFICADOR-->
        <ul class="navbar-nav mt-auto">
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="assets/img/navbar/calendario.png" width="20" height="20" alt=""> Planificador
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <!--CALENDARIO-->
                    <li class="dropdown-item">
                        <a class="dropdown-item" [routerLink]="['planificador','calendario']">Calendario</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!--VENTAS-->
        <ul class="navbar-nav mt-auto">
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="assets/img/navbar/ventas.png" width="20" height="20" alt=""> Ventas
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <!--CONTRATOS-->
                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle">Contratos</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" [routerLink]="['contratos']">Listado</a></li>
                            <li><a class="dropdown-item" [routerLink]="['contratos','nuevo-contrato']">Nuevo contrato</a></li>
                            <!--<li><a class="dropdown-item" [routerLink]="['contratos','buscar-contrato']">Buscar contrato</a></li>-->
                        </ul>
                    </li>
                    <!--VENTAS-->
                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle">Ventas</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" [routerLink]="['ventas']">Listado</a></li>
                            <li><a class="dropdown-item" [routerLink]="['ventas','nueva-venta']">Nuevo venta</a></li>
                            <!--<li><a class="dropdown-item" [routerLink]="['ventas','buscar-venta']">Buscar venta</a></li>-->
                        </ul>
                    </li>
                    <!--FACTURAS-->
                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle">Facturas</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" [routerLink]="['facturas']">Listado</a></li>
                            <li><a class="dropdown-item" [routerLink]="['facturas','nuevo-factura']">Nuevo factura</a></li>
                            <!--<li><a class="dropdown-item" [routerLink]="['facturas','buscar-factura']">Buscar facttura</a></li>-->
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
        <!--COMPRAS-->
        <ul class="navbar-nav mt-auto">
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="assets/img/navbar/compras.png" width="20" height="20" alt=""> Compras
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <!--COMPRAS-->
                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle">Compras</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" [routerLink]="['compras']">Listado</a></li>
                            <li><a class="dropdown-item" [routerLink]="['compras','nueva-compra']">Nuevo compra</a></li>
                            <!--<li><a class="dropdown-item" [routerLink]="['compras','buscar-compra']">Buscar compra</a></li>-->
                        </ul>
                    </li>
                    <!--PEDIDOS-->
                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle">Pedidos</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" [routerLink]="['pedidos']">Listado</a></li>
                            <li><a class="dropdown-item" [routerLink]="['pedidos','nuevo-pedido']">Nuevo pedido</a></li>
                            <!--<li><a class="dropdown-item" [routerLink]="['pedidos','buscar-pedido']">Buscar pedido</a></li>-->
                        </ul>
                    </li>
                    <!--PROVEEDORES-->
                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle">Proveedores</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" [routerLink]="['proveedores']">Listado</a></li>
                            <li><a class="dropdown-item" [routerLink]="['proveedores','nuevo-proveedor']">Nuevo proveedor</a></li>
                            <!--<li><a class="dropdown-item" [routerLink]="['proveedores','buscar-proveedor']">Buscar proveedor</a></li>-->
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
        <!--INVENTARIO-->
        <ul class="navbar-nav mt-auto">
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="assets/img/navbar/inventario.png" width="20" height="20" alt=""> Inventario
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <!--CATALOGO-->
                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle">Catálogo</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" [routerLink]="['catalago','articulos']">Listado artículos</a></li>
                            <li><a class="dropdown-item" [routerLink]="['catalago','articulos','nuevo-articulo']">Nuevo artículo</a></li>
                            <!--<li><a class="dropdown-item" [routerLink]="['catalago','articulos','buscar-articulo']">Buscar artículo</a></li>-->
                        </ul>
                    </li>
                    <!--ALMACENES-->
                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle">Almacén</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" [routerLink]="['almacenes']">Listado</a></li>
                            <li><a class="dropdown-item" [routerLink]="['almacenes','nuevo-almacen']">Nuevo almacén</a></li>
                            <!--<li><a class="dropdown-item" [routerLink]="['almacenes','buscar-almacen']">Buscar almacén</a></li>-->
                        </ul>
                    </li>
                    <!--VEHICULOS-->
                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle">Vehículos</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" [routerLink]="['vehiculos']">Listado</a></li>
                            <li><a class="dropdown-item" [routerLink]="['vehiculos','nuevo-vehiculo']">Nuevo vehículo</a></li>
                            <!--<li><a class="dropdown-item" [routerLink]="['vehiculos','buscar-vehiculo']">Buscar vehículo</a></li>-->
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
        <!--EMPRESA-->
        <ul class="navbar-nav mt-auto">
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="assets/img/navbar/empresa.png" width="20" height="20" alt=""> Empresa
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <!-- EMPRESA -->
                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle">Empresa</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" [routerLink]="['empresa', '1']">Información</a></li>
                            <li><a class="dropdown-item" [routerLink]="['empresa','editar-empresa', '1']">Editar información</a></li>
                        </ul>
                    </li>
                    <!--RRHH-->
                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle">RRHH</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" [routerLink]="['rrhh']">Listado empleados</a></li>
                            <li><a class="dropdown-item" [routerLink]="['rrhh','nuevo-empleado']">Nuevo empleado</a></li>
                            <!--<li><a class="dropdown-item" [routerLink]="['rrhh','buscar-empleado']">Buscar empleado</a></li>-->
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
        <!--PANEL ADMINISTRADOR (SOLO VISIBLE POR ADMINISTRADORES)-->
        <ul class="navbar-nav mt-auto">
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="assets/img/navbar/adminstracion.png" width="20" height="20" alt=""> Administración
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <!--USERS-->
                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle">Usuarios</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" [routerLink]="['usuarios']">Listado usuarios</a></li>
                            <li><a class="dropdown-item" [routerLink]="['usuarios','nuevo-usuario']">Nuevo usuario</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
        <!--LOGIN/CUENTA-->
        <ul class="navbar-nav navbar-rigth">
            <!-- LOGIN -->
            <li class=""><a class="btn btn-outline-primary" [routerLink]="['login']">Sign in</a></li>
            <!-- CUENTA-->
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="assets/img/navbar/perfil.png" width="20" height="20" alt=""> Perfil
                </a>
                <!--PERFIL-->
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" [routerLink]="['perfil']">Mi cuenta</a></li>
                    <li><a class="dropdown-item" [routerLink]="['salir']">Salir</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>