<div class="card formluario text-center">

    <div class="card-header cabecera txt-center">
        <h5 class="card-title">Usuario</h5>
    </div>

    <div class="card-body">

        <!-- Fila 1-->
        <h6 class="card-subtitle mb-2 text-muted text-left">Datos comunes</h6>
        <div class="form-group row text-left">
            <!-- CODIGO USUARIO -->
            <dl class="col" *ngIf="usuario.codigo">
                <dt>Código usuario</dt>
                <dd>{{usuario.codigo}}</dd>
            </dl>
            <!-- NAME USER -->
            <dl class="col" *ngIf="usuario.username">
                <dt>Usuario</dt>
                <dd>{{usuario.username}}</dd>
            </dl>
            <!-- EMAIL -->
            <dl class="col">
                <dt>Contraseña</dt>
                <dd>*****</dd>
            </dl>
        </div>
        <!-- Fila 2-->
        <div class="form-group row text-left">
            <!-- NOMBRE REAL -->
            <dl class="col" *ngIf="usuario.nombreCompleto">
                <dt>Nombre usuario</dt>
                <dd>{{usuario.nombreCompleto}}</dd>
            </dl>
            <!-- ROLE -->
            <dl class="col" *ngIf="usuario.role">
                <dt>Tipo</dt>
                <dd>{{usuario.username}}</dd>
            </dl>
            <!-- EMAIL -->
            <dl class="col">
                <dt>Activo</dt>
                <dd *ngIf="usuario.activo">Sí</dd>
                <dd *ngIf="!usuario.activo">No</dd>
            </dl>
        </div>

    </div>

    <div class="card-footer text-muted">
        <div class="row">
            <div class="col-6 text-left">
                <button type="button" class="btn btn-primary" (click)="editarUsuario(usuario.id)">Editar</button> &nbsp;
                <button type="button" class="btn btn-danger" (click)="borrarUsuario(usuario.id)">Borrar</button>
            </div>
        </div>
    </div>
</div>