<div class="card text-center">
    <div class="card-header txt-center">
        <h5 class="card-title">Usuario</h5>
    </div>
    <div class="card-body">

        <!-- Fila 1-->
        <h6 class="card-subtitle mb-2 text-muted text-left">Datos comunes</h6>
        <div class="form-group row text-left">
            <!-- CODIGO USUARIO -->
            <dl class="col" *ngIf="usuario.codigo">
                <dt>Código usuario</dt>
                <dd>{{usuario.codigo}}</dd>
            </dl>
            <!-- NAME USER -->
            <dl class="col" *ngIf="usuario.name">
                <dt>Usuario</dt>
                <dd>{{usuario.name}}</dd>
            </dl>
            <!-- PASSWORD USER -->
            <dl class="col" *ngIf="usuario.password">
                <dt>Contraseña</dt>
                <dd>*****</dd>
            </dl>
        </div>

    </div>

    <div class="card-footer text-muted">
        <div class="row">
            <div class="col-6 text-left">
                <button type="button" class="btn btn-primary" (click)="editarUsuario(usuario.id)">Editar</button> &nbsp;
                <button type="button" class="btn btn-danger" (click)="borrarUsuario(usuario.id)">Borrar</button>
            </div>
        </div>
    </div>
</div>